@font-face {
    font-family: "index";
    src: url("./index.ttf?d7c1b93b9f3e23903913387b0002ab61") format("truetype"),
url("./index.woff?d7c1b93b9f3e23903913387b0002ab61") format("woff"),
url("./index.woff2?d7c1b93b9f3e23903913387b0002ab61") format("woff2"),
url("./index.eot?d7c1b93b9f3e23903913387b0002ab61#iefix") format("embedded-opentype");
}

.nxi:before {
    font-family: index !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nxi.nxi-fe-activity:before {
    content: "\f101";
}
.nxi.nxi-fe-airplay:before {
    content: "\f102";
}
.nxi.nxi-fe-alert-circle:before {
    content: "\f103";
}
.nxi.nxi-fe-alert-octagon:before {
    content: "\f104";
}
.nxi.nxi-fe-alert-triangle:before {
    content: "\f105";
}
.nxi.nxi-fe-align-center:before {
    content: "\f106";
}
.nxi.nxi-fe-align-justify:before {
    content: "\f107";
}
.nxi.nxi-fe-align-left:before {
    content: "\f108";
}
.nxi.nxi-fe-align-right:before {
    content: "\f109";
}
.nxi.nxi-fe-anchor:before {
    content: "\f10a";
}
.nxi.nxi-fe-aperture:before {
    content: "\f10b";
}
.nxi.nxi-fe-archive:before {
    content: "\f10c";
}
.nxi.nxi-fe-arrow-down-circle:before {
    content: "\f10d";
}
.nxi.nxi-fe-arrow-down-left:before {
    content: "\f10e";
}
.nxi.nxi-fe-arrow-down-right:before {
    content: "\f10f";
}
.nxi.nxi-fe-arrow-down:before {
    content: "\f110";
}
.nxi.nxi-fe-arrow-left-circle:before {
    content: "\f111";
}
.nxi.nxi-fe-arrow-left:before {
    content: "\f112";
}
.nxi.nxi-fe-arrow-right-circle:before {
    content: "\f113";
}
.nxi.nxi-fe-arrow-right:before {
    content: "\f114";
}
.nxi.nxi-fe-arrow-up-circle:before {
    content: "\f115";
}
.nxi.nxi-fe-arrow-up-left:before {
    content: "\f116";
}
.nxi.nxi-fe-arrow-up-right:before {
    content: "\f117";
}
.nxi.nxi-fe-arrow-up:before {
    content: "\f118";
}
.nxi.nxi-fe-at-sign:before {
    content: "\f119";
}
.nxi.nxi-fe-award:before {
    content: "\f11a";
}
.nxi.nxi-fe-bar-chart-2:before {
    content: "\f11b";
}
.nxi.nxi-fe-bar-chart:before {
    content: "\f11c";
}
.nxi.nxi-fe-battery-charging:before {
    content: "\f11d";
}
.nxi.nxi-fe-battery:before {
    content: "\f11e";
}
.nxi.nxi-fe-bell-off:before {
    content: "\f11f";
}
.nxi.nxi-fe-bell:before {
    content: "\f120";
}
.nxi.nxi-fe-bluetooth:before {
    content: "\f121";
}
.nxi.nxi-fe-bold:before {
    content: "\f122";
}
.nxi.nxi-fe-book-open:before {
    content: "\f123";
}
.nxi.nxi-fe-book:before {
    content: "\f124";
}
.nxi.nxi-fe-bookmark:before {
    content: "\f125";
}
.nxi.nxi-fe-box:before {
    content: "\f126";
}
.nxi.nxi-fe-briefcase:before {
    content: "\f127";
}
.nxi.nxi-fe-calendar:before {
    content: "\f128";
}
.nxi.nxi-fe-camera-off:before {
    content: "\f129";
}
.nxi.nxi-fe-camera:before {
    content: "\f12a";
}
.nxi.nxi-fe-cast:before {
    content: "\f12b";
}
.nxi.nxi-fe-check-circle:before {
    content: "\f12c";
}
.nxi.nxi-fe-check-square:before {
    content: "\f12d";
}
.nxi.nxi-fe-check:before {
    content: "\f12e";
}
.nxi.nxi-fe-chevron-down:before {
    content: "\f12f";
}
.nxi.nxi-fe-chevron-left:before {
    content: "\f130";
}
.nxi.nxi-fe-chevron-right:before {
    content: "\f131";
}
.nxi.nxi-fe-chevron-up:before {
    content: "\f132";
}
.nxi.nxi-fe-chevrons-down:before {
    content: "\f133";
}
.nxi.nxi-fe-chevrons-left:before {
    content: "\f134";
}
.nxi.nxi-fe-chevrons-right:before {
    content: "\f135";
}
.nxi.nxi-fe-chevrons-up:before {
    content: "\f136";
}
.nxi.nxi-fe-chrome:before {
    content: "\f137";
}
.nxi.nxi-fe-circle:before {
    content: "\f138";
}
.nxi.nxi-fe-clipboard:before {
    content: "\f139";
}
.nxi.nxi-fe-clock:before {
    content: "\f13a";
}
.nxi.nxi-fe-cloud-drizzle:before {
    content: "\f13b";
}
.nxi.nxi-fe-cloud-lightning:before {
    content: "\f13c";
}
.nxi.nxi-fe-cloud-off:before {
    content: "\f13d";
}
.nxi.nxi-fe-cloud-rain:before {
    content: "\f13e";
}
.nxi.nxi-fe-cloud-snow:before {
    content: "\f13f";
}
.nxi.nxi-fe-cloud:before {
    content: "\f140";
}
.nxi.nxi-fe-code:before {
    content: "\f141";
}
.nxi.nxi-fe-codepen:before {
    content: "\f142";
}
.nxi.nxi-fe-codesandbox:before {
    content: "\f143";
}
.nxi.nxi-fe-coffee:before {
    content: "\f144";
}
.nxi.nxi-fe-columns:before {
    content: "\f145";
}
.nxi.nxi-fe-command:before {
    content: "\f146";
}
.nxi.nxi-fe-compass:before {
    content: "\f147";
}
.nxi.nxi-fe-copy:before {
    content: "\f148";
}
.nxi.nxi-fe-corner-down-left:before {
    content: "\f149";
}
.nxi.nxi-fe-corner-down-right:before {
    content: "\f14a";
}
.nxi.nxi-fe-corner-left-down:before {
    content: "\f14b";
}
.nxi.nxi-fe-corner-left-up:before {
    content: "\f14c";
}
.nxi.nxi-fe-corner-right-down:before {
    content: "\f14d";
}
.nxi.nxi-fe-corner-right-up:before {
    content: "\f14e";
}
.nxi.nxi-fe-corner-up-left:before {
    content: "\f14f";
}
.nxi.nxi-fe-corner-up-right:before {
    content: "\f150";
}
.nxi.nxi-fe-cpu:before {
    content: "\f151";
}
.nxi.nxi-fe-credit-card:before {
    content: "\f152";
}
.nxi.nxi-fe-crop:before {
    content: "\f153";
}
.nxi.nxi-fe-crosshair:before {
    content: "\f154";
}
.nxi.nxi-fe-database:before {
    content: "\f155";
}
.nxi.nxi-fe-delete:before {
    content: "\f156";
}
.nxi.nxi-fe-disc:before {
    content: "\f157";
}
.nxi.nxi-fe-divide-circle:before {
    content: "\f158";
}
.nxi.nxi-fe-divide-square:before {
    content: "\f159";
}
.nxi.nxi-fe-divide:before {
    content: "\f15a";
}
.nxi.nxi-fe-dollar-sign:before {
    content: "\f15b";
}
.nxi.nxi-fe-download-cloud:before {
    content: "\f15c";
}
.nxi.nxi-fe-download:before {
    content: "\f15d";
}
.nxi.nxi-fe-dribbble:before {
    content: "\f15e";
}
.nxi.nxi-fe-droplet:before {
    content: "\f15f";
}
.nxi.nxi-fe-edit-2:before {
    content: "\f160";
}
.nxi.nxi-fe-edit-3:before {
    content: "\f161";
}
.nxi.nxi-fe-edit:before {
    content: "\f162";
}
.nxi.nxi-fe-external-link:before {
    content: "\f163";
}
.nxi.nxi-fe-eye-off:before {
    content: "\f164";
}
.nxi.nxi-fe-eye:before {
    content: "\f165";
}
.nxi.nxi-fe-facebook:before {
    content: "\f166";
}
.nxi.nxi-fe-fast-forward:before {
    content: "\f167";
}
.nxi.nxi-fe-feather:before {
    content: "\f168";
}
.nxi.nxi-fe-figma:before {
    content: "\f169";
}
.nxi.nxi-fe-file-minus:before {
    content: "\f16a";
}
.nxi.nxi-fe-file-plus:before {
    content: "\f16b";
}
.nxi.nxi-fe-file-text:before {
    content: "\f16c";
}
.nxi.nxi-fe-file:before {
    content: "\f16d";
}
.nxi.nxi-fe-film:before {
    content: "\f16e";
}
.nxi.nxi-fe-filter:before {
    content: "\f16f";
}
.nxi.nxi-fe-flag:before {
    content: "\f170";
}
.nxi.nxi-fe-folder-minus:before {
    content: "\f171";
}
.nxi.nxi-fe-folder-plus:before {
    content: "\f172";
}
.nxi.nxi-fe-folder:before {
    content: "\f173";
}
.nxi.nxi-fe-framer:before {
    content: "\f174";
}
.nxi.nxi-fe-frown:before {
    content: "\f175";
}
.nxi.nxi-fe-gift:before {
    content: "\f176";
}
.nxi.nxi-fe-git-branch:before {
    content: "\f177";
}
.nxi.nxi-fe-git-commit:before {
    content: "\f178";
}
.nxi.nxi-fe-git-merge:before {
    content: "\f179";
}
.nxi.nxi-fe-git-pull-request:before {
    content: "\f17a";
}
.nxi.nxi-fe-github:before {
    content: "\f17b";
}
.nxi.nxi-fe-gitlab:before {
    content: "\f17c";
}
.nxi.nxi-fe-globe:before {
    content: "\f17d";
}
.nxi.nxi-fe-grid:before {
    content: "\f17e";
}
.nxi.nxi-fe-hard-drive:before {
    content: "\f17f";
}
.nxi.nxi-fe-hash:before {
    content: "\f180";
}
.nxi.nxi-fe-headphones:before {
    content: "\f181";
}
.nxi.nxi-fe-heart:before {
    content: "\f182";
}
.nxi.nxi-fe-help-circle:before {
    content: "\f183";
}
.nxi.nxi-fe-hexagon:before {
    content: "\f184";
}
.nxi.nxi-fe-home:before {
    content: "\f185";
}
.nxi.nxi-fe-image:before {
    content: "\f186";
}
.nxi.nxi-fe-inbox:before {
    content: "\f187";
}
.nxi.nxi-fe-info:before {
    content: "\f188";
}
.nxi.nxi-fe-instagram:before {
    content: "\f189";
}
.nxi.nxi-fe-italic:before {
    content: "\f18a";
}
.nxi.nxi-fe-key:before {
    content: "\f18b";
}
.nxi.nxi-fe-layers:before {
    content: "\f18c";
}
.nxi.nxi-fe-layout:before {
    content: "\f18d";
}
.nxi.nxi-fe-life-buoy:before {
    content: "\f18e";
}
.nxi.nxi-fe-link-2:before {
    content: "\f18f";
}
.nxi.nxi-fe-link:before {
    content: "\f190";
}
.nxi.nxi-fe-linkedin:before {
    content: "\f191";
}
.nxi.nxi-fe-list:before {
    content: "\f192";
}
.nxi.nxi-fe-loader:before {
    content: "\f193";
}
.nxi.nxi-fe-lock:before {
    content: "\f194";
}
.nxi.nxi-fe-log-in:before {
    content: "\f195";
}
.nxi.nxi-fe-log-out:before {
    content: "\f196";
}
.nxi.nxi-fe-mail:before {
    content: "\f197";
}
.nxi.nxi-fe-map-pin:before {
    content: "\f198";
}
.nxi.nxi-fe-map:before {
    content: "\f199";
}
.nxi.nxi-fe-maximize-2:before {
    content: "\f19a";
}
.nxi.nxi-fe-maximize:before {
    content: "\f19b";
}
.nxi.nxi-fe-meh:before {
    content: "\f19c";
}
.nxi.nxi-fe-menu:before {
    content: "\f19d";
}
.nxi.nxi-fe-message-circle:before {
    content: "\f19e";
}
.nxi.nxi-fe-message-square:before {
    content: "\f19f";
}
.nxi.nxi-fe-mic-off:before {
    content: "\f1a0";
}
.nxi.nxi-fe-mic:before {
    content: "\f1a1";
}
.nxi.nxi-fe-minimize-2:before {
    content: "\f1a2";
}
.nxi.nxi-fe-minimize:before {
    content: "\f1a3";
}
.nxi.nxi-fe-minus-circle:before {
    content: "\f1a4";
}
.nxi.nxi-fe-minus-square:before {
    content: "\f1a5";
}
.nxi.nxi-fe-minus:before {
    content: "\f1a6";
}
.nxi.nxi-fe-monitor:before {
    content: "\f1a7";
}
.nxi.nxi-fe-moon:before {
    content: "\f1a8";
}
.nxi.nxi-fe-more-horizontal:before {
    content: "\f1a9";
}
.nxi.nxi-fe-more-vertical:before {
    content: "\f1aa";
}
.nxi.nxi-fe-mouse-pointer:before {
    content: "\f1ab";
}
.nxi.nxi-fe-move:before {
    content: "\f1ac";
}
.nxi.nxi-fe-music:before {
    content: "\f1ad";
}
.nxi.nxi-fe-navigation-2:before {
    content: "\f1ae";
}
.nxi.nxi-fe-navigation:before {
    content: "\f1af";
}
.nxi.nxi-fe-octagon:before {
    content: "\f1b0";
}
.nxi.nxi-fe-package:before {
    content: "\f1b1";
}
.nxi.nxi-fe-paperclip:before {
    content: "\f1b2";
}
.nxi.nxi-fe-pause-circle:before {
    content: "\f1b3";
}
.nxi.nxi-fe-pause:before {
    content: "\f1b4";
}
.nxi.nxi-fe-pen-tool:before {
    content: "\f1b5";
}
.nxi.nxi-fe-percent:before {
    content: "\f1b6";
}
.nxi.nxi-fe-phone-call:before {
    content: "\f1b7";
}
.nxi.nxi-fe-phone-forwarded:before {
    content: "\f1b8";
}
.nxi.nxi-fe-phone-incoming:before {
    content: "\f1b9";
}
.nxi.nxi-fe-phone-missed:before {
    content: "\f1ba";
}
.nxi.nxi-fe-phone-off:before {
    content: "\f1bb";
}
.nxi.nxi-fe-phone-outgoing:before {
    content: "\f1bc";
}
.nxi.nxi-fe-phone:before {
    content: "\f1bd";
}
.nxi.nxi-fe-pie-chart:before {
    content: "\f1be";
}
.nxi.nxi-fe-play-circle:before {
    content: "\f1bf";
}
.nxi.nxi-fe-play:before {
    content: "\f1c0";
}
.nxi.nxi-fe-plus-circle:before {
    content: "\f1c1";
}
.nxi.nxi-fe-plus-square:before {
    content: "\f1c2";
}
.nxi.nxi-fe-plus:before {
    content: "\f1c3";
}
.nxi.nxi-fe-pocket:before {
    content: "\f1c4";
}
.nxi.nxi-fe-power:before {
    content: "\f1c5";
}
.nxi.nxi-fe-printer:before {
    content: "\f1c6";
}
.nxi.nxi-fe-radio:before {
    content: "\f1c7";
}
.nxi.nxi-fe-refresh-ccw:before {
    content: "\f1c8";
}
.nxi.nxi-fe-refresh-cw:before {
    content: "\f1c9";
}
.nxi.nxi-fe-repeat:before {
    content: "\f1ca";
}
.nxi.nxi-fe-rewind:before {
    content: "\f1cb";
}
.nxi.nxi-fe-rotate-ccw:before {
    content: "\f1cc";
}
.nxi.nxi-fe-rotate-cw:before {
    content: "\f1cd";
}
.nxi.nxi-fe-rss:before {
    content: "\f1ce";
}
.nxi.nxi-fe-save:before {
    content: "\f1cf";
}
.nxi.nxi-fe-scissors:before {
    content: "\f1d0";
}
.nxi.nxi-fe-search:before {
    content: "\f1d1";
}
.nxi.nxi-fe-send:before {
    content: "\f1d2";
}
.nxi.nxi-fe-server:before {
    content: "\f1d3";
}
.nxi.nxi-fe-settings:before {
    content: "\f1d4";
}
.nxi.nxi-fe-share-2:before {
    content: "\f1d5";
}
.nxi.nxi-fe-share:before {
    content: "\f1d6";
}
.nxi.nxi-fe-shield-off:before {
    content: "\f1d7";
}
.nxi.nxi-fe-shield:before {
    content: "\f1d8";
}
.nxi.nxi-fe-shopping-bag:before {
    content: "\f1d9";
}
.nxi.nxi-fe-shopping-cart:before {
    content: "\f1da";
}
.nxi.nxi-fe-shuffle:before {
    content: "\f1db";
}
.nxi.nxi-fe-sidebar:before {
    content: "\f1dc";
}
.nxi.nxi-fe-skip-back:before {
    content: "\f1dd";
}
.nxi.nxi-fe-skip-forward:before {
    content: "\f1de";
}
.nxi.nxi-fe-slack:before {
    content: "\f1df";
}
.nxi.nxi-fe-slash:before {
    content: "\f1e0";
}
.nxi.nxi-fe-sliders:before {
    content: "\f1e1";
}
.nxi.nxi-fe-smartphone:before {
    content: "\f1e2";
}
.nxi.nxi-fe-smile:before {
    content: "\f1e3";
}
.nxi.nxi-fe-speaker:before {
    content: "\f1e4";
}
.nxi.nxi-fe-square:before {
    content: "\f1e5";
}
.nxi.nxi-fe-star:before {
    content: "\f1e6";
}
.nxi.nxi-fe-stop-circle:before {
    content: "\f1e7";
}
.nxi.nxi-fe-sun:before {
    content: "\f1e8";
}
.nxi.nxi-fe-sunrise:before {
    content: "\f1e9";
}
.nxi.nxi-fe-sunset:before {
    content: "\f1ea";
}
.nxi.nxi-fe-table:before {
    content: "\f1eb";
}
.nxi.nxi-fe-tablet:before {
    content: "\f1ec";
}
.nxi.nxi-fe-tag:before {
    content: "\f1ed";
}
.nxi.nxi-fe-target:before {
    content: "\f1ee";
}
.nxi.nxi-fe-terminal:before {
    content: "\f1ef";
}
.nxi.nxi-fe-thermometer:before {
    content: "\f1f0";
}
.nxi.nxi-fe-thumbs-down:before {
    content: "\f1f1";
}
.nxi.nxi-fe-thumbs-up:before {
    content: "\f1f2";
}
.nxi.nxi-fe-toggle-left:before {
    content: "\f1f3";
}
.nxi.nxi-fe-toggle-right:before {
    content: "\f1f4";
}
.nxi.nxi-fe-tool:before {
    content: "\f1f5";
}
.nxi.nxi-fe-trash-2:before {
    content: "\f1f6";
}
.nxi.nxi-fe-trash:before {
    content: "\f1f7";
}
.nxi.nxi-fe-trello:before {
    content: "\f1f8";
}
.nxi.nxi-fe-trending-down:before {
    content: "\f1f9";
}
.nxi.nxi-fe-trending-up:before {
    content: "\f1fa";
}
.nxi.nxi-fe-triangle:before {
    content: "\f1fb";
}
.nxi.nxi-fe-truck:before {
    content: "\f1fc";
}
.nxi.nxi-fe-tv:before {
    content: "\f1fd";
}
.nxi.nxi-fe-twitch:before {
    content: "\f1fe";
}
.nxi.nxi-fe-twitter:before {
    content: "\f1ff";
}
.nxi.nxi-fe-type:before {
    content: "\f200";
}
.nxi.nxi-fe-umbrella:before {
    content: "\f201";
}
.nxi.nxi-fe-underline:before {
    content: "\f202";
}
.nxi.nxi-fe-unlock:before {
    content: "\f203";
}
.nxi.nxi-fe-upload-cloud:before {
    content: "\f204";
}
.nxi.nxi-fe-upload:before {
    content: "\f205";
}
.nxi.nxi-fe-user-check:before {
    content: "\f206";
}
.nxi.nxi-fe-user-minus:before {
    content: "\f207";
}
.nxi.nxi-fe-user-plus:before {
    content: "\f208";
}
.nxi.nxi-fe-user-x:before {
    content: "\f209";
}
.nxi.nxi-fe-user:before {
    content: "\f20a";
}
.nxi.nxi-fe-users:before {
    content: "\f20b";
}
.nxi.nxi-fe-video-off:before {
    content: "\f20c";
}
.nxi.nxi-fe-video:before {
    content: "\f20d";
}
.nxi.nxi-fe-voicemail:before {
    content: "\f20e";
}
.nxi.nxi-fe-volume-1:before {
    content: "\f20f";
}
.nxi.nxi-fe-volume-2:before {
    content: "\f210";
}
.nxi.nxi-fe-volume-x:before {
    content: "\f211";
}
.nxi.nxi-fe-volume:before {
    content: "\f212";
}
.nxi.nxi-fe-watch:before {
    content: "\f213";
}
.nxi.nxi-fe-wifi-off:before {
    content: "\f214";
}
.nxi.nxi-fe-wifi:before {
    content: "\f215";
}
.nxi.nxi-fe-wind:before {
    content: "\f216";
}
.nxi.nxi-fe-x-circle:before {
    content: "\f217";
}
.nxi.nxi-fe-x-octagon:before {
    content: "\f218";
}
.nxi.nxi-fe-x-square:before {
    content: "\f219";
}
.nxi.nxi-fe-x:before {
    content: "\f21a";
}
.nxi.nxi-fe-youtube:before {
    content: "\f21b";
}
.nxi.nxi-fe-zap-off:before {
    content: "\f21c";
}
.nxi.nxi-fe-zap:before {
    content: "\f21d";
}
.nxi.nxi-fe-zoom-in:before {
    content: "\f21e";
}
.nxi.nxi-fe-zoom-out:before {
    content: "\f21f";
}
