@font-face {
    font-family: "index";
    src: url("./index.ttf?a17faa1e83f6da9ffca8d2d0857bb26f") format("truetype"),
url("./index.woff?a17faa1e83f6da9ffca8d2d0857bb26f") format("woff"),
url("./index.woff2?a17faa1e83f6da9ffca8d2d0857bb26f") format("woff2"),
url("./index.eot?a17faa1e83f6da9ffca8d2d0857bb26f#iefix") format("embedded-opentype");
}
.nxi {
    font-size: 1.5rem;
    display: inline-flex
}

.nxi:before {
    font-family: 'index' !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nxi.nxi-fe-activity:before {
    content: "\e000";
}
.nxi.nxi-fe-airplay:before {
    content: "\e001";
}
.nxi.nxi-fe-alert-circle:before {
    content: "\e002";
}
.nxi.nxi-fe-alert-octagon:before {
    content: "\e003";
}
.nxi.nxi-fe-alert-triangle:before {
    content: "\e004";
}
.nxi.nxi-fe-align-center:before {
    content: "\e005";
}
.nxi.nxi-fe-align-justify:before {
    content: "\e006";
}
.nxi.nxi-fe-align-left:before {
    content: "\e007";
}
.nxi.nxi-fe-align-right:before {
    content: "\e008";
}
.nxi.nxi-fe-anchor:before {
    content: "\e009";
}
.nxi.nxi-fe-aperture:before {
    content: "\e00a";
}
.nxi.nxi-fe-archive:before {
    content: "\e00b";
}
.nxi.nxi-fe-arrow-down-circle:before {
    content: "\e00c";
}
.nxi.nxi-fe-arrow-down-left:before {
    content: "\e00d";
}
.nxi.nxi-fe-arrow-down-right:before {
    content: "\e00e";
}
.nxi.nxi-fe-arrow-down:before {
    content: "\e00f";
}
.nxi.nxi-fe-arrow-left-circle:before {
    content: "\e010";
}
.nxi.nxi-fe-arrow-left:before {
    content: "\e011";
}
.nxi.nxi-fe-arrow-right-circle:before {
    content: "\e012";
}
.nxi.nxi-fe-arrow-right:before {
    content: "\e013";
}
.nxi.nxi-fe-arrow-up-circle:before {
    content: "\e014";
}
.nxi.nxi-fe-arrow-up-left:before {
    content: "\e015";
}
.nxi.nxi-fe-arrow-up-right:before {
    content: "\e016";
}
.nxi.nxi-fe-arrow-up:before {
    content: "\e017";
}
.nxi.nxi-fe-at-sign:before {
    content: "\e018";
}
.nxi.nxi-fe-award:before {
    content: "\e019";
}
.nxi.nxi-fe-bar-chart-2:before {
    content: "\e01a";
}
.nxi.nxi-fe-bar-chart:before {
    content: "\e01b";
}
.nxi.nxi-fe-battery-charging:before {
    content: "\e01c";
}
.nxi.nxi-fe-battery:before {
    content: "\e01d";
}
.nxi.nxi-fe-bell-off:before {
    content: "\e01e";
}
.nxi.nxi-fe-bell:before {
    content: "\e01f";
}
.nxi.nxi-fe-bluetooth:before {
    content: "\e020";
}
.nxi.nxi-fe-bold:before {
    content: "\e021";
}
.nxi.nxi-fe-book-open:before {
    content: "\e022";
}
.nxi.nxi-fe-book:before {
    content: "\e023";
}
.nxi.nxi-fe-bookmark:before {
    content: "\e024";
}
.nxi.nxi-fe-box:before {
    content: "\e025";
}
.nxi.nxi-fe-briefcase:before {
    content: "\e026";
}
.nxi.nxi-fe-calendar:before {
    content: "\e027";
}
.nxi.nxi-fe-camera-off:before {
    content: "\e028";
}
.nxi.nxi-fe-camera:before {
    content: "\e029";
}
.nxi.nxi-fe-cast:before {
    content: "\e02a";
}
.nxi.nxi-fe-check-circle:before {
    content: "\e02b";
}
.nxi.nxi-fe-check-square:before {
    content: "\e02c";
}
.nxi.nxi-fe-check:before {
    content: "\e02d";
}
.nxi.nxi-fe-chevron-down:before {
    content: "\e02e";
}
.nxi.nxi-fe-chevron-left:before {
    content: "\e02f";
}
.nxi.nxi-fe-chevron-right:before {
    content: "\e030";
}
.nxi.nxi-fe-chevron-up:before {
    content: "\e031";
}
.nxi.nxi-fe-chevrons-down:before {
    content: "\e032";
}
.nxi.nxi-fe-chevrons-left:before {
    content: "\e033";
}
.nxi.nxi-fe-chevrons-right:before {
    content: "\e034";
}
.nxi.nxi-fe-chevrons-up:before {
    content: "\e035";
}
.nxi.nxi-fe-chrome:before {
    content: "\e036";
}
.nxi.nxi-fe-circle:before {
    content: "\e037";
}
.nxi.nxi-fe-clipboard:before {
    content: "\e038";
}
.nxi.nxi-fe-clock:before {
    content: "\e039";
}
.nxi.nxi-fe-cloud-drizzle:before {
    content: "\e03a";
}
.nxi.nxi-fe-cloud-lightning:before {
    content: "\e03b";
}
.nxi.nxi-fe-cloud-off:before {
    content: "\e03c";
}
.nxi.nxi-fe-cloud-rain:before {
    content: "\e03d";
}
.nxi.nxi-fe-cloud-snow:before {
    content: "\e03e";
}
.nxi.nxi-fe-cloud:before {
    content: "\e03f";
}
.nxi.nxi-fe-code:before {
    content: "\e040";
}
.nxi.nxi-fe-codepen:before {
    content: "\e041";
}
.nxi.nxi-fe-codesandbox:before {
    content: "\e042";
}
.nxi.nxi-fe-coffee:before {
    content: "\e043";
}
.nxi.nxi-fe-columns:before {
    content: "\e044";
}
.nxi.nxi-fe-command:before {
    content: "\e045";
}
.nxi.nxi-fe-compass:before {
    content: "\e046";
}
.nxi.nxi-fe-copy:before {
    content: "\e047";
}
.nxi.nxi-fe-corner-down-left:before {
    content: "\e048";
}
.nxi.nxi-fe-corner-down-right:before {
    content: "\e049";
}
.nxi.nxi-fe-corner-left-down:before {
    content: "\e04a";
}
.nxi.nxi-fe-corner-left-up:before {
    content: "\e04b";
}
.nxi.nxi-fe-corner-right-down:before {
    content: "\e04c";
}
.nxi.nxi-fe-corner-right-up:before {
    content: "\e04d";
}
.nxi.nxi-fe-corner-up-left:before {
    content: "\e04e";
}
.nxi.nxi-fe-corner-up-right:before {
    content: "\e04f";
}
.nxi.nxi-fe-cpu:before {
    content: "\e050";
}
.nxi.nxi-fe-credit-card:before {
    content: "\e051";
}
.nxi.nxi-fe-crop:before {
    content: "\e052";
}
.nxi.nxi-fe-crosshair:before {
    content: "\e053";
}
.nxi.nxi-fe-database:before {
    content: "\e054";
}
.nxi.nxi-fe-delete:before {
    content: "\e055";
}
.nxi.nxi-fe-disc:before {
    content: "\e056";
}
.nxi.nxi-fe-divide-circle:before {
    content: "\e057";
}
.nxi.nxi-fe-divide-square:before {
    content: "\e058";
}
.nxi.nxi-fe-divide:before {
    content: "\e059";
}
.nxi.nxi-fe-dollar-sign:before {
    content: "\e05a";
}
.nxi.nxi-fe-download-cloud:before {
    content: "\e05b";
}
.nxi.nxi-fe-download:before {
    content: "\e05c";
}
.nxi.nxi-fe-dribbble:before {
    content: "\e05d";
}
.nxi.nxi-fe-droplet:before {
    content: "\e05e";
}
.nxi.nxi-fe-edit-2:before {
    content: "\e05f";
}
.nxi.nxi-fe-edit-3:before {
    content: "\e060";
}
.nxi.nxi-fe-edit:before {
    content: "\e061";
}
.nxi.nxi-fe-external-link:before {
    content: "\e062";
}
.nxi.nxi-fe-eye-off:before {
    content: "\e063";
}
.nxi.nxi-fe-eye:before {
    content: "\e064";
}
.nxi.nxi-fe-facebook:before {
    content: "\e065";
}
.nxi.nxi-fe-fast-forward:before {
    content: "\e066";
}
.nxi.nxi-fe-feather:before {
    content: "\e067";
}
.nxi.nxi-fe-figma:before {
    content: "\e068";
}
.nxi.nxi-fe-file-minus:before {
    content: "\e069";
}
.nxi.nxi-fe-file-plus:before {
    content: "\e06a";
}
.nxi.nxi-fe-file-text:before {
    content: "\e06b";
}
.nxi.nxi-fe-file:before {
    content: "\e06c";
}
.nxi.nxi-fe-film:before {
    content: "\e06d";
}
.nxi.nxi-fe-filter:before {
    content: "\e06e";
}
.nxi.nxi-fe-flag:before {
    content: "\e06f";
}
.nxi.nxi-fe-folder-minus:before {
    content: "\e070";
}
.nxi.nxi-fe-folder-plus:before {
    content: "\e071";
}
.nxi.nxi-fe-folder:before {
    content: "\e072";
}
.nxi.nxi-fe-framer:before {
    content: "\e073";
}
.nxi.nxi-fe-frown:before {
    content: "\e074";
}
.nxi.nxi-fe-gift:before {
    content: "\e075";
}
.nxi.nxi-fe-git-branch:before {
    content: "\e076";
}
.nxi.nxi-fe-git-commit:before {
    content: "\e077";
}
.nxi.nxi-fe-git-merge:before {
    content: "\e078";
}
.nxi.nxi-fe-git-pull-request:before {
    content: "\e079";
}
.nxi.nxi-fe-github:before {
    content: "\e07a";
}
.nxi.nxi-fe-gitlab:before {
    content: "\e07b";
}
.nxi.nxi-fe-globe:before {
    content: "\e07c";
}
.nxi.nxi-fe-grid:before {
    content: "\e07d";
}
.nxi.nxi-fe-hard-drive:before {
    content: "\e07e";
}
.nxi.nxi-fe-hash:before {
    content: "\e07f";
}
.nxi.nxi-fe-headphones:before {
    content: "\e080";
}
.nxi.nxi-fe-heart:before {
    content: "\e081";
}
.nxi.nxi-fe-help-circle:before {
    content: "\e082";
}
.nxi.nxi-fe-hexagon:before {
    content: "\e083";
}
.nxi.nxi-fe-home:before {
    content: "\e084";
}
.nxi.nxi-fe-image:before {
    content: "\e085";
}
.nxi.nxi-fe-inbox:before {
    content: "\e086";
}
.nxi.nxi-fe-info:before {
    content: "\e087";
}
.nxi.nxi-fe-instagram:before {
    content: "\e088";
}
.nxi.nxi-fe-italic:before {
    content: "\e089";
}
.nxi.nxi-fe-key:before {
    content: "\e08a";
}
.nxi.nxi-fe-layers:before {
    content: "\e08b";
}
.nxi.nxi-fe-layout:before {
    content: "\e08c";
}
.nxi.nxi-fe-life-buoy:before {
    content: "\e08d";
}
.nxi.nxi-fe-link-2:before {
    content: "\e08e";
}
.nxi.nxi-fe-link:before {
    content: "\e08f";
}
.nxi.nxi-fe-linkedin:before {
    content: "\e090";
}
.nxi.nxi-fe-list:before {
    content: "\e091";
}
.nxi.nxi-fe-loader:before {
    content: "\e092";
}
.nxi.nxi-fe-lock:before {
    content: "\e093";
}
.nxi.nxi-fe-log-in:before {
    content: "\e094";
}
.nxi.nxi-fe-log-out:before {
    content: "\e095";
}
.nxi.nxi-fe-mail:before {
    content: "\e096";
}
.nxi.nxi-fe-map-pin:before {
    content: "\e097";
}
.nxi.nxi-fe-map:before {
    content: "\e098";
}
.nxi.nxi-fe-maximize-2:before {
    content: "\e099";
}
.nxi.nxi-fe-maximize:before {
    content: "\e09a";
}
.nxi.nxi-fe-meh:before {
    content: "\e09b";
}
.nxi.nxi-fe-menu:before {
    content: "\e09c";
}
.nxi.nxi-fe-message-circle:before {
    content: "\e09d";
}
.nxi.nxi-fe-message-square:before {
    content: "\e09e";
}
.nxi.nxi-fe-mic-off:before {
    content: "\e09f";
}
.nxi.nxi-fe-mic:before {
    content: "\e0a0";
}
.nxi.nxi-fe-minimize-2:before {
    content: "\e0a1";
}
.nxi.nxi-fe-minimize:before {
    content: "\e0a2";
}
.nxi.nxi-fe-minus-circle:before {
    content: "\e0a3";
}
.nxi.nxi-fe-minus-square:before {
    content: "\e0a4";
}
.nxi.nxi-fe-minus:before {
    content: "\e0a5";
}
.nxi.nxi-fe-monitor:before {
    content: "\e0a6";
}
.nxi.nxi-fe-moon:before {
    content: "\e0a7";
}
.nxi.nxi-fe-more-horizontal:before {
    content: "\e0a8";
}
.nxi.nxi-fe-more-vertical:before {
    content: "\e0a9";
}
.nxi.nxi-fe-mouse-pointer:before {
    content: "\e0aa";
}
.nxi.nxi-fe-move:before {
    content: "\e0ab";
}
.nxi.nxi-fe-music:before {
    content: "\e0ac";
}
.nxi.nxi-fe-navigation-2:before {
    content: "\e0ad";
}
.nxi.nxi-fe-navigation:before {
    content: "\e0ae";
}
.nxi.nxi-fe-octagon:before {
    content: "\e0af";
}
.nxi.nxi-fe-package:before {
    content: "\e0b0";
}
.nxi.nxi-fe-paperclip:before {
    content: "\e0b1";
}
.nxi.nxi-fe-pause-circle:before {
    content: "\e0b2";
}
.nxi.nxi-fe-pause:before {
    content: "\e0b3";
}
.nxi.nxi-fe-pen-tool:before {
    content: "\e0b4";
}
.nxi.nxi-fe-percent:before {
    content: "\e0b5";
}
.nxi.nxi-fe-phone-call:before {
    content: "\e0b6";
}
.nxi.nxi-fe-phone-forwarded:before {
    content: "\e0b7";
}
.nxi.nxi-fe-phone-incoming:before {
    content: "\e0b8";
}
.nxi.nxi-fe-phone-missed:before {
    content: "\e0b9";
}
.nxi.nxi-fe-phone-off:before {
    content: "\e0ba";
}
.nxi.nxi-fe-phone-outgoing:before {
    content: "\e0bb";
}
.nxi.nxi-fe-phone:before {
    content: "\e0bc";
}
.nxi.nxi-fe-pie-chart:before {
    content: "\e0bd";
}
.nxi.nxi-fe-play-circle:before {
    content: "\e0be";
}
.nxi.nxi-fe-play:before {
    content: "\e0bf";
}
.nxi.nxi-fe-plus-circle:before {
    content: "\e0c0";
}
.nxi.nxi-fe-plus-square:before {
    content: "\e0c1";
}
.nxi.nxi-fe-plus:before {
    content: "\e0c2";
}
.nxi.nxi-fe-pocket:before {
    content: "\e0c3";
}
.nxi.nxi-fe-power:before {
    content: "\e0c4";
}
.nxi.nxi-fe-printer:before {
    content: "\e0c5";
}
.nxi.nxi-fe-radio:before {
    content: "\e0c6";
}
.nxi.nxi-fe-refresh-ccw:before {
    content: "\e0c7";
}
.nxi.nxi-fe-refresh-cw:before {
    content: "\e0c8";
}
.nxi.nxi-fe-repeat:before {
    content: "\e0c9";
}
.nxi.nxi-fe-rewind:before {
    content: "\e0ca";
}
.nxi.nxi-fe-rotate-ccw:before {
    content: "\e0cb";
}
.nxi.nxi-fe-rotate-cw:before {
    content: "\e0cc";
}
.nxi.nxi-fe-rss:before {
    content: "\e0cd";
}
.nxi.nxi-fe-save:before {
    content: "\e0ce";
}
.nxi.nxi-fe-scissors:before {
    content: "\e0cf";
}
.nxi.nxi-fe-search:before {
    content: "\e0d0";
}
.nxi.nxi-fe-send:before {
    content: "\e0d1";
}
.nxi.nxi-fe-server:before {
    content: "\e0d2";
}
.nxi.nxi-fe-settings:before {
    content: "\e0d3";
}
.nxi.nxi-fe-share-2:before {
    content: "\e0d4";
}
.nxi.nxi-fe-share:before {
    content: "\e0d5";
}
.nxi.nxi-fe-shield-off:before {
    content: "\e0d6";
}
.nxi.nxi-fe-shield:before {
    content: "\e0d7";
}
.nxi.nxi-fe-shopping-bag:before {
    content: "\e0d8";
}
.nxi.nxi-fe-shopping-cart:before {
    content: "\e0d9";
}
.nxi.nxi-fe-shuffle:before {
    content: "\e0da";
}
.nxi.nxi-fe-sidebar:before {
    content: "\e0db";
}
.nxi.nxi-fe-skip-back:before {
    content: "\e0dc";
}
.nxi.nxi-fe-skip-forward:before {
    content: "\e0dd";
}
.nxi.nxi-fe-slack:before {
    content: "\e0de";
}
.nxi.nxi-fe-slash:before {
    content: "\e0df";
}
.nxi.nxi-fe-sliders:before {
    content: "\e0e0";
}
.nxi.nxi-fe-smartphone:before {
    content: "\e0e1";
}
.nxi.nxi-fe-smile:before {
    content: "\e0e2";
}
.nxi.nxi-fe-speaker:before {
    content: "\e0e3";
}
.nxi.nxi-fe-square:before {
    content: "\e0e4";
}
.nxi.nxi-fe-star:before {
    content: "\e0e5";
}
.nxi.nxi-fe-stop-circle:before {
    content: "\e0e6";
}
.nxi.nxi-fe-sun:before {
    content: "\e0e7";
}
.nxi.nxi-fe-sunrise:before {
    content: "\e0e8";
}
.nxi.nxi-fe-sunset:before {
    content: "\e0e9";
}
.nxi.nxi-fe-table:before {
    content: "\e0ea";
}
.nxi.nxi-fe-tablet:before {
    content: "\e0eb";
}
.nxi.nxi-fe-tag:before {
    content: "\e0ec";
}
.nxi.nxi-fe-target:before {
    content: "\e0ed";
}
.nxi.nxi-fe-terminal:before {
    content: "\e0ee";
}
.nxi.nxi-fe-thermometer:before {
    content: "\e0ef";
}
.nxi.nxi-fe-thumbs-down:before {
    content: "\e0f0";
}
.nxi.nxi-fe-thumbs-up:before {
    content: "\e0f1";
}
.nxi.nxi-fe-toggle-left:before {
    content: "\e0f2";
}
.nxi.nxi-fe-toggle-right:before {
    content: "\e0f3";
}
.nxi.nxi-fe-tool:before {
    content: "\e0f4";
}
.nxi.nxi-fe-trash-2:before {
    content: "\e0f5";
}
.nxi.nxi-fe-trash:before {
    content: "\e0f6";
}
.nxi.nxi-fe-trello:before {
    content: "\e0f7";
}
.nxi.nxi-fe-trending-down:before {
    content: "\e0f8";
}
.nxi.nxi-fe-trending-up:before {
    content: "\e0f9";
}
.nxi.nxi-fe-triangle:before {
    content: "\e0fa";
}
.nxi.nxi-fe-truck:before {
    content: "\e0fb";
}
.nxi.nxi-fe-tv:before {
    content: "\e0fc";
}
.nxi.nxi-fe-twitch:before {
    content: "\e0fd";
}
.nxi.nxi-fe-twitter:before {
    content: "\e0fe";
}
.nxi.nxi-fe-type:before {
    content: "\e0ff";
}
.nxi.nxi-fe-umbrella:before {
    content: "\e100";
}
.nxi.nxi-fe-underline:before {
    content: "\e101";
}
.nxi.nxi-fe-unlock:before {
    content: "\e102";
}
.nxi.nxi-fe-upload-cloud:before {
    content: "\e103";
}
.nxi.nxi-fe-upload:before {
    content: "\e104";
}
.nxi.nxi-fe-user-check:before {
    content: "\e105";
}
.nxi.nxi-fe-user-minus:before {
    content: "\e106";
}
.nxi.nxi-fe-user-plus:before {
    content: "\e107";
}
.nxi.nxi-fe-user-x:before {
    content: "\e108";
}
.nxi.nxi-fe-user:before {
    content: "\e109";
}
.nxi.nxi-fe-users:before {
    content: "\e10a";
}
.nxi.nxi-fe-video-off:before {
    content: "\e10b";
}
.nxi.nxi-fe-video:before {
    content: "\e10c";
}
.nxi.nxi-fe-voicemail:before {
    content: "\e10d";
}
.nxi.nxi-fe-volume-1:before {
    content: "\e10e";
}
.nxi.nxi-fe-volume-2:before {
    content: "\e10f";
}
.nxi.nxi-fe-volume-x:before {
    content: "\e110";
}
.nxi.nxi-fe-volume:before {
    content: "\e111";
}
.nxi.nxi-fe-watch:before {
    content: "\e112";
}
.nxi.nxi-fe-wifi-off:before {
    content: "\e113";
}
.nxi.nxi-fe-wifi:before {
    content: "\e114";
}
.nxi.nxi-fe-wind:before {
    content: "\e115";
}
.nxi.nxi-fe-x-circle:before {
    content: "\e116";
}
.nxi.nxi-fe-x-octagon:before {
    content: "\e117";
}
.nxi.nxi-fe-x-square:before {
    content: "\e118";
}
.nxi.nxi-fe-x:before {
    content: "\e119";
}
.nxi.nxi-fe-youtube:before {
    content: "\e11a";
}
.nxi.nxi-fe-zap-off:before {
    content: "\e11b";
}
.nxi.nxi-fe-zap:before {
    content: "\e11c";
}
.nxi.nxi-fe-zoom-in:before {
    content: "\e11d";
}
.nxi.nxi-fe-zoom-out:before {
    content: "\e11e";
}
