@font-face {
    font-family: "index";
    src: url("./index.ttf?82e5a3cf64447fbb8e47673e2ca79d74") format("truetype"),
url("./index.woff?82e5a3cf64447fbb8e47673e2ca79d74") format("woff"),
url("./index.woff2?82e5a3cf64447fbb8e47673e2ca79d74") format("woff2"),
url("./index.eot?82e5a3cf64447fbb8e47673e2ca79d74#iefix") format("embedded-opentype");
}
.nxi {
    font-size: 1.5rem;
    display: inline-flex
}

.nxi:before {
    font-family: 'index' !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nxi.nxi-bx-abacus:before {
    content: "\e000";
}
.nxi.nxi-bx-accessibility:before {
    content: "\e001";
}
.nxi.nxi-bx-add-to-queue:before {
    content: "\e002";
}
.nxi.nxi-bx-adjust:before {
    content: "\e003";
}
.nxi.nxi-bx-alarm-add:before {
    content: "\e004";
}
.nxi.nxi-bx-alarm-exclamation:before {
    content: "\e005";
}
.nxi.nxi-bx-alarm-off:before {
    content: "\e006";
}
.nxi.nxi-bx-alarm-snooze:before {
    content: "\e007";
}
.nxi.nxi-bx-alarm:before {
    content: "\e008";
}
.nxi.nxi-bx-album:before {
    content: "\e009";
}
.nxi.nxi-bx-align-justify:before {
    content: "\e00a";
}
.nxi.nxi-bx-align-left:before {
    content: "\e00b";
}
.nxi.nxi-bx-align-middle:before {
    content: "\e00c";
}
.nxi.nxi-bx-align-right:before {
    content: "\e00d";
}
.nxi.nxi-bx-analyse:before {
    content: "\e00e";
}
.nxi.nxi-bx-anchor:before {
    content: "\e00f";
}
.nxi.nxi-bx-angry:before {
    content: "\e010";
}
.nxi.nxi-bx-aperture:before {
    content: "\e011";
}
.nxi.nxi-bx-arch:before {
    content: "\e012";
}
.nxi.nxi-bx-archive-in:before {
    content: "\e013";
}
.nxi.nxi-bx-archive-out:before {
    content: "\e014";
}
.nxi.nxi-bx-archive:before {
    content: "\e015";
}
.nxi.nxi-bx-area:before {
    content: "\e016";
}
.nxi.nxi-bx-arrow-back:before {
    content: "\e017";
}
.nxi.nxi-bx-arrow-from-bottom:before {
    content: "\e018";
}
.nxi.nxi-bx-arrow-from-left:before {
    content: "\e019";
}
.nxi.nxi-bx-arrow-from-right:before {
    content: "\e01a";
}
.nxi.nxi-bx-arrow-from-top:before {
    content: "\e01b";
}
.nxi.nxi-bx-arrow-to-bottom:before {
    content: "\e01c";
}
.nxi.nxi-bx-arrow-to-left:before {
    content: "\e01d";
}
.nxi.nxi-bx-arrow-to-right:before {
    content: "\e01e";
}
.nxi.nxi-bx-arrow-to-top:before {
    content: "\e01f";
}
.nxi.nxi-bx-at:before {
    content: "\e020";
}
.nxi.nxi-bx-atom:before {
    content: "\e021";
}
.nxi.nxi-bx-award:before {
    content: "\e022";
}
.nxi.nxi-bx-badge-check:before {
    content: "\e023";
}
.nxi.nxi-bx-badge:before {
    content: "\e024";
}
.nxi.nxi-bx-baguette:before {
    content: "\e025";
}
.nxi.nxi-bx-ball:before {
    content: "\e026";
}
.nxi.nxi-bx-band-aid:before {
    content: "\e027";
}
.nxi.nxi-bx-bar-chart-alt-2:before {
    content: "\e028";
}
.nxi.nxi-bx-bar-chart-alt:before {
    content: "\e029";
}
.nxi.nxi-bx-bar-chart-square:before {
    content: "\e02a";
}
.nxi.nxi-bx-bar-chart:before {
    content: "\e02b";
}
.nxi.nxi-bx-barcode-reader:before {
    content: "\e02c";
}
.nxi.nxi-bx-barcode:before {
    content: "\e02d";
}
.nxi.nxi-bx-baseball:before {
    content: "\e02e";
}
.nxi.nxi-bx-basket:before {
    content: "\e02f";
}
.nxi.nxi-bx-basketball:before {
    content: "\e030";
}
.nxi.nxi-bx-bath:before {
    content: "\e031";
}
.nxi.nxi-bx-battery:before {
    content: "\e032";
}
.nxi.nxi-bx-bed:before {
    content: "\e033";
}
.nxi.nxi-bx-been-here:before {
    content: "\e034";
}
.nxi.nxi-bx-beer:before {
    content: "\e035";
}
.nxi.nxi-bx-bell-minus:before {
    content: "\e036";
}
.nxi.nxi-bx-bell-off:before {
    content: "\e037";
}
.nxi.nxi-bx-bell-plus:before {
    content: "\e038";
}
.nxi.nxi-bx-bell:before {
    content: "\e039";
}
.nxi.nxi-bx-bible:before {
    content: "\e03a";
}
.nxi.nxi-bx-bitcoin:before {
    content: "\e03b";
}
.nxi.nxi-bx-blanket:before {
    content: "\e03c";
}
.nxi.nxi-bx-block:before {
    content: "\e03d";
}
.nxi.nxi-bx-bluetooth:before {
    content: "\e03e";
}
.nxi.nxi-bx-body:before {
    content: "\e03f";
}
.nxi.nxi-bx-bold:before {
    content: "\e040";
}
.nxi.nxi-bx-bolt-circle:before {
    content: "\e041";
}
.nxi.nxi-bx-bomb:before {
    content: "\e042";
}
.nxi.nxi-bx-bone:before {
    content: "\e043";
}
.nxi.nxi-bx-bong:before {
    content: "\e044";
}
.nxi.nxi-bx-book-add:before {
    content: "\e045";
}
.nxi.nxi-bx-book-alt:before {
    content: "\e046";
}
.nxi.nxi-bx-book-bookmark:before {
    content: "\e047";
}
.nxi.nxi-bx-book-content:before {
    content: "\e048";
}
.nxi.nxi-bx-book-heart:before {
    content: "\e049";
}
.nxi.nxi-bx-book-open:before {
    content: "\e04a";
}
.nxi.nxi-bx-book-reader:before {
    content: "\e04b";
}
.nxi.nxi-bx-book:before {
    content: "\e04c";
}
.nxi.nxi-bx-bookmark-alt-minus:before {
    content: "\e04d";
}
.nxi.nxi-bx-bookmark-alt-plus:before {
    content: "\e04e";
}
.nxi.nxi-bx-bookmark-alt:before {
    content: "\e04f";
}
.nxi.nxi-bx-bookmark-heart:before {
    content: "\e050";
}
.nxi.nxi-bx-bookmark-minus:before {
    content: "\e051";
}
.nxi.nxi-bx-bookmark-plus:before {
    content: "\e052";
}
.nxi.nxi-bx-bookmark:before {
    content: "\e053";
}
.nxi.nxi-bx-bookmarks:before {
    content: "\e054";
}
.nxi.nxi-bx-border-all:before {
    content: "\e055";
}
.nxi.nxi-bx-border-bottom:before {
    content: "\e056";
}
.nxi.nxi-bx-border-inner:before {
    content: "\e057";
}
.nxi.nxi-bx-border-left:before {
    content: "\e058";
}
.nxi.nxi-bx-border-none:before {
    content: "\e059";
}
.nxi.nxi-bx-border-outer:before {
    content: "\e05a";
}
.nxi.nxi-bx-border-radius:before {
    content: "\e05b";
}
.nxi.nxi-bx-border-right:before {
    content: "\e05c";
}
.nxi.nxi-bx-border-top:before {
    content: "\e05d";
}
.nxi.nxi-bx-bot:before {
    content: "\e05e";
}
.nxi.nxi-bx-bowl-hot:before {
    content: "\e05f";
}
.nxi.nxi-bx-bowl-rice:before {
    content: "\e060";
}
.nxi.nxi-bx-bowling-ball:before {
    content: "\e061";
}
.nxi.nxi-bx-box:before {
    content: "\e062";
}
.nxi.nxi-bx-bracket:before {
    content: "\e063";
}
.nxi.nxi-bx-braille:before {
    content: "\e064";
}
.nxi.nxi-bx-brain:before {
    content: "\e065";
}
.nxi.nxi-bx-briefcase-alt-2:before {
    content: "\e066";
}
.nxi.nxi-bx-briefcase-alt:before {
    content: "\e067";
}
.nxi.nxi-bx-briefcase:before {
    content: "\e068";
}
.nxi.nxi-bx-brightness-half:before {
    content: "\e069";
}
.nxi.nxi-bx-brightness:before {
    content: "\e06a";
}
.nxi.nxi-bx-broadcast:before {
    content: "\e06b";
}
.nxi.nxi-bx-brush-alt:before {
    content: "\e06c";
}
.nxi.nxi-bx-brush:before {
    content: "\e06d";
}
.nxi.nxi-bx-bug-alt:before {
    content: "\e06e";
}
.nxi.nxi-bx-bug:before {
    content: "\e06f";
}
.nxi.nxi-bx-building-house:before {
    content: "\e070";
}
.nxi.nxi-bx-building:before {
    content: "\e071";
}
.nxi.nxi-bx-buildings:before {
    content: "\e072";
}
.nxi.nxi-bx-bulb:before {
    content: "\e073";
}
.nxi.nxi-bx-bullseye:before {
    content: "\e074";
}
.nxi.nxi-bx-buoy:before {
    content: "\e075";
}
.nxi.nxi-bx-bus-school:before {
    content: "\e076";
}
.nxi.nxi-bx-bus:before {
    content: "\e077";
}
.nxi.nxi-bx-cabinet:before {
    content: "\e078";
}
.nxi.nxi-bx-cable-car:before {
    content: "\e079";
}
.nxi.nxi-bx-cake:before {
    content: "\e07a";
}
.nxi.nxi-bx-calculator:before {
    content: "\e07b";
}
.nxi.nxi-bx-calendar-alt:before {
    content: "\e07c";
}
.nxi.nxi-bx-calendar-check:before {
    content: "\e07d";
}
.nxi.nxi-bx-calendar-edit:before {
    content: "\e07e";
}
.nxi.nxi-bx-calendar-event:before {
    content: "\e07f";
}
.nxi.nxi-bx-calendar-exclamation:before {
    content: "\e080";
}
.nxi.nxi-bx-calendar-heart:before {
    content: "\e081";
}
.nxi.nxi-bx-calendar-minus:before {
    content: "\e082";
}
.nxi.nxi-bx-calendar-plus:before {
    content: "\e083";
}
.nxi.nxi-bx-calendar-star:before {
    content: "\e084";
}
.nxi.nxi-bx-calendar-week:before {
    content: "\e085";
}
.nxi.nxi-bx-calendar-x:before {
    content: "\e086";
}
.nxi.nxi-bx-calendar:before {
    content: "\e087";
}
.nxi.nxi-bx-camera-home:before {
    content: "\e088";
}
.nxi.nxi-bx-camera-movie:before {
    content: "\e089";
}
.nxi.nxi-bx-camera-off:before {
    content: "\e08a";
}
.nxi.nxi-bx-camera:before {
    content: "\e08b";
}
.nxi.nxi-bx-candles:before {
    content: "\e08c";
}
.nxi.nxi-bx-capsule:before {
    content: "\e08d";
}
.nxi.nxi-bx-captions:before {
    content: "\e08e";
}
.nxi.nxi-bx-car:before {
    content: "\e08f";
}
.nxi.nxi-bx-card:before {
    content: "\e090";
}
.nxi.nxi-bx-caret-down-circle:before {
    content: "\e091";
}
.nxi.nxi-bx-caret-down-square:before {
    content: "\e092";
}
.nxi.nxi-bx-caret-down:before {
    content: "\e093";
}
.nxi.nxi-bx-caret-left-circle:before {
    content: "\e094";
}
.nxi.nxi-bx-caret-left-square:before {
    content: "\e095";
}
.nxi.nxi-bx-caret-left:before {
    content: "\e096";
}
.nxi.nxi-bx-caret-right-circle:before {
    content: "\e097";
}
.nxi.nxi-bx-caret-right-square:before {
    content: "\e098";
}
.nxi.nxi-bx-caret-right:before {
    content: "\e099";
}
.nxi.nxi-bx-caret-up-circle:before {
    content: "\e09a";
}
.nxi.nxi-bx-caret-up-square:before {
    content: "\e09b";
}
.nxi.nxi-bx-caret-up:before {
    content: "\e09c";
}
.nxi.nxi-bx-carousel:before {
    content: "\e09d";
}
.nxi.nxi-bx-cart-add:before {
    content: "\e09e";
}
.nxi.nxi-bx-cart-alt:before {
    content: "\e09f";
}
.nxi.nxi-bx-cart-download:before {
    content: "\e0a0";
}
.nxi.nxi-bx-cart:before {
    content: "\e0a1";
}
.nxi.nxi-bx-cast:before {
    content: "\e0a2";
}
.nxi.nxi-bx-category-alt:before {
    content: "\e0a3";
}
.nxi.nxi-bx-category:before {
    content: "\e0a4";
}
.nxi.nxi-bx-cctv:before {
    content: "\e0a5";
}
.nxi.nxi-bx-certification:before {
    content: "\e0a6";
}
.nxi.nxi-bx-chair:before {
    content: "\e0a7";
}
.nxi.nxi-bx-chalkboard:before {
    content: "\e0a8";
}
.nxi.nxi-bx-chart:before {
    content: "\e0a9";
}
.nxi.nxi-bx-chat:before {
    content: "\e0aa";
}
.nxi.nxi-bx-check-circle:before {
    content: "\e0ab";
}
.nxi.nxi-bx-check-double:before {
    content: "\e0ac";
}
.nxi.nxi-bx-check-shield:before {
    content: "\e0ad";
}
.nxi.nxi-bx-check-square:before {
    content: "\e0ae";
}
.nxi.nxi-bx-check:before {
    content: "\e0af";
}
.nxi.nxi-bx-checkbox-checked:before {
    content: "\e0b0";
}
.nxi.nxi-bx-checkbox-minus:before {
    content: "\e0b1";
}
.nxi.nxi-bx-checkbox-square:before {
    content: "\e0b2";
}
.nxi.nxi-bx-checkbox:before {
    content: "\e0b3";
}
.nxi.nxi-bx-cheese:before {
    content: "\e0b4";
}
.nxi.nxi-bx-chevron-down-circle:before {
    content: "\e0b5";
}
.nxi.nxi-bx-chevron-down-square:before {
    content: "\e0b6";
}
.nxi.nxi-bx-chevron-down:before {
    content: "\e0b7";
}
.nxi.nxi-bx-chevron-left-circle:before {
    content: "\e0b8";
}
.nxi.nxi-bx-chevron-left-square:before {
    content: "\e0b9";
}
.nxi.nxi-bx-chevron-left:before {
    content: "\e0ba";
}
.nxi.nxi-bx-chevron-right-circle:before {
    content: "\e0bb";
}
.nxi.nxi-bx-chevron-right-square:before {
    content: "\e0bc";
}
.nxi.nxi-bx-chevron-right:before {
    content: "\e0bd";
}
.nxi.nxi-bx-chevron-up-circle:before {
    content: "\e0be";
}
.nxi.nxi-bx-chevron-up-square:before {
    content: "\e0bf";
}
.nxi.nxi-bx-chevron-up:before {
    content: "\e0c0";
}
.nxi.nxi-bx-chevrons-down:before {
    content: "\e0c1";
}
.nxi.nxi-bx-chevrons-left:before {
    content: "\e0c2";
}
.nxi.nxi-bx-chevrons-right:before {
    content: "\e0c3";
}
.nxi.nxi-bx-chevrons-up:before {
    content: "\e0c4";
}
.nxi.nxi-bx-child:before {
    content: "\e0c5";
}
.nxi.nxi-bx-chip:before {
    content: "\e0c6";
}
.nxi.nxi-bx-church:before {
    content: "\e0c7";
}
.nxi.nxi-bx-circle-half:before {
    content: "\e0c8";
}
.nxi.nxi-bx-circle-quarter:before {
    content: "\e0c9";
}
.nxi.nxi-bx-circle-three-quarter:before {
    content: "\e0ca";
}
.nxi.nxi-bx-circle:before {
    content: "\e0cb";
}
.nxi.nxi-bx-clinic:before {
    content: "\e0cc";
}
.nxi.nxi-bx-clipboard:before {
    content: "\e0cd";
}
.nxi.nxi-bx-closet:before {
    content: "\e0ce";
}
.nxi.nxi-bx-cloud-download:before {
    content: "\e0cf";
}
.nxi.nxi-bx-cloud-drizzle:before {
    content: "\e0d0";
}
.nxi.nxi-bx-cloud-light-rain:before {
    content: "\e0d1";
}
.nxi.nxi-bx-cloud-lightning:before {
    content: "\e0d2";
}
.nxi.nxi-bx-cloud-rain:before {
    content: "\e0d3";
}
.nxi.nxi-bx-cloud-snow:before {
    content: "\e0d4";
}
.nxi.nxi-bx-cloud-upload:before {
    content: "\e0d5";
}
.nxi.nxi-bx-cloud:before {
    content: "\e0d6";
}
.nxi.nxi-bx-code-alt:before {
    content: "\e0d7";
}
.nxi.nxi-bx-code-block:before {
    content: "\e0d8";
}
.nxi.nxi-bx-code-curly:before {
    content: "\e0d9";
}
.nxi.nxi-bx-code:before {
    content: "\e0da";
}
.nxi.nxi-bx-coffee-togo:before {
    content: "\e0db";
}
.nxi.nxi-bx-coffee:before {
    content: "\e0dc";
}
.nxi.nxi-bx-cog:before {
    content: "\e0dd";
}
.nxi.nxi-bx-coin-stack:before {
    content: "\e0de";
}
.nxi.nxi-bx-coin:before {
    content: "\e0df";
}
.nxi.nxi-bx-collapse-alt:before {
    content: "\e0e0";
}
.nxi.nxi-bx-collapse-horizontal:before {
    content: "\e0e1";
}
.nxi.nxi-bx-collapse-vertical:before {
    content: "\e0e2";
}
.nxi.nxi-bx-collapse:before {
    content: "\e0e3";
}
.nxi.nxi-bx-collection:before {
    content: "\e0e4";
}
.nxi.nxi-bx-color-fill:before {
    content: "\e0e5";
}
.nxi.nxi-bx-color:before {
    content: "\e0e6";
}
.nxi.nxi-bx-columns:before {
    content: "\e0e7";
}
.nxi.nxi-bx-command:before {
    content: "\e0e8";
}
.nxi.nxi-bx-comment-add:before {
    content: "\e0e9";
}
.nxi.nxi-bx-comment-check:before {
    content: "\e0ea";
}
.nxi.nxi-bx-comment-detail:before {
    content: "\e0eb";
}
.nxi.nxi-bx-comment-dots:before {
    content: "\e0ec";
}
.nxi.nxi-bx-comment-edit:before {
    content: "\e0ed";
}
.nxi.nxi-bx-comment-error:before {
    content: "\e0ee";
}
.nxi.nxi-bx-comment-minus:before {
    content: "\e0ef";
}
.nxi.nxi-bx-comment-x:before {
    content: "\e0f0";
}
.nxi.nxi-bx-comment:before {
    content: "\e0f1";
}
.nxi.nxi-bx-compass:before {
    content: "\e0f2";
}
.nxi.nxi-bx-confused:before {
    content: "\e0f3";
}
.nxi.nxi-bx-conversation:before {
    content: "\e0f4";
}
.nxi.nxi-bx-cookie:before {
    content: "\e0f5";
}
.nxi.nxi-bx-cool:before {
    content: "\e0f6";
}
.nxi.nxi-bx-copy-alt:before {
    content: "\e0f7";
}
.nxi.nxi-bx-copy:before {
    content: "\e0f8";
}
.nxi.nxi-bx-copyright:before {
    content: "\e0f9";
}
.nxi.nxi-bx-credit-card-alt:before {
    content: "\e0fa";
}
.nxi.nxi-bx-credit-card-front:before {
    content: "\e0fb";
}
.nxi.nxi-bx-credit-card:before {
    content: "\e0fc";
}
.nxi.nxi-bx-cricket-ball:before {
    content: "\e0fd";
}
.nxi.nxi-bx-crop:before {
    content: "\e0fe";
}
.nxi.nxi-bx-cross:before {
    content: "\e0ff";
}
.nxi.nxi-bx-crosshair:before {
    content: "\e100";
}
.nxi.nxi-bx-crown:before {
    content: "\e101";
}
.nxi.nxi-bx-cube-alt:before {
    content: "\e102";
}
.nxi.nxi-bx-cube:before {
    content: "\e103";
}
.nxi.nxi-bx-cuboid:before {
    content: "\e104";
}
.nxi.nxi-bx-current-location:before {
    content: "\e105";
}
.nxi.nxi-bx-customize:before {
    content: "\e106";
}
.nxi.nxi-bx-cut:before {
    content: "\e107";
}
.nxi.nxi-bx-cycling:before {
    content: "\e108";
}
.nxi.nxi-bx-cylinder:before {
    content: "\e109";
}
.nxi.nxi-bx-data:before {
    content: "\e10a";
}
.nxi.nxi-bx-desktop:before {
    content: "\e10b";
}
.nxi.nxi-bx-detail:before {
    content: "\e10c";
}
.nxi.nxi-bx-devices:before {
    content: "\e10d";
}
.nxi.nxi-bx-dialpad-alt:before {
    content: "\e10e";
}
.nxi.nxi-bx-dialpad:before {
    content: "\e10f";
}
.nxi.nxi-bx-diamond:before {
    content: "\e110";
}
.nxi.nxi-bx-dice-1:before {
    content: "\e111";
}
.nxi.nxi-bx-dice-2:before {
    content: "\e112";
}
.nxi.nxi-bx-dice-3:before {
    content: "\e113";
}
.nxi.nxi-bx-dice-4:before {
    content: "\e114";
}
.nxi.nxi-bx-dice-5:before {
    content: "\e115";
}
.nxi.nxi-bx-dice-6:before {
    content: "\e116";
}
.nxi.nxi-bx-directions:before {
    content: "\e117";
}
.nxi.nxi-bx-disc:before {
    content: "\e118";
}
.nxi.nxi-bx-dish:before {
    content: "\e119";
}
.nxi.nxi-bx-dislike:before {
    content: "\e11a";
}
.nxi.nxi-bx-dizzy:before {
    content: "\e11b";
}
.nxi.nxi-bx-dna:before {
    content: "\e11c";
}
.nxi.nxi-bx-dock-bottom:before {
    content: "\e11d";
}
.nxi.nxi-bx-dock-left:before {
    content: "\e11e";
}
.nxi.nxi-bx-dock-right:before {
    content: "\e11f";
}
.nxi.nxi-bx-dock-top:before {
    content: "\e120";
}
.nxi.nxi-bx-dollar-circle:before {
    content: "\e121";
}
.nxi.nxi-bx-dollar:before {
    content: "\e122";
}
.nxi.nxi-bx-donate-blood:before {
    content: "\e123";
}
.nxi.nxi-bx-donate-heart:before {
    content: "\e124";
}
.nxi.nxi-bx-door-open:before {
    content: "\e125";
}
.nxi.nxi-bx-dots-horizontal-rounded:before {
    content: "\e126";
}
.nxi.nxi-bx-dots-horizontal:before {
    content: "\e127";
}
.nxi.nxi-bx-dots-vertical-rounded:before {
    content: "\e128";
}
.nxi.nxi-bx-dots-vertical:before {
    content: "\e129";
}
.nxi.nxi-bx-doughnut-chart:before {
    content: "\e12a";
}
.nxi.nxi-bx-down-arrow-alt:before {
    content: "\e12b";
}
.nxi.nxi-bx-down-arrow-circle:before {
    content: "\e12c";
}
.nxi.nxi-bx-down-arrow:before {
    content: "\e12d";
}
.nxi.nxi-bx-download:before {
    content: "\e12e";
}
.nxi.nxi-bx-downvote:before {
    content: "\e12f";
}
.nxi.nxi-bx-drink:before {
    content: "\e130";
}
.nxi.nxi-bx-droplet:before {
    content: "\e131";
}
.nxi.nxi-bx-dumbbell:before {
    content: "\e132";
}
.nxi.nxi-bx-duplicate:before {
    content: "\e133";
}
.nxi.nxi-bx-edit-alt:before {
    content: "\e134";
}
.nxi.nxi-bx-edit:before {
    content: "\e135";
}
.nxi.nxi-bx-envelope-open:before {
    content: "\e136";
}
.nxi.nxi-bx-envelope:before {
    content: "\e137";
}
.nxi.nxi-bx-equalizer:before {
    content: "\e138";
}
.nxi.nxi-bx-eraser:before {
    content: "\e139";
}
.nxi.nxi-bx-error-alt:before {
    content: "\e13a";
}
.nxi.nxi-bx-error-circle:before {
    content: "\e13b";
}
.nxi.nxi-bx-error:before {
    content: "\e13c";
}
.nxi.nxi-bx-euro:before {
    content: "\e13d";
}
.nxi.nxi-bx-exclude:before {
    content: "\e13e";
}
.nxi.nxi-bx-exit-fullscreen:before {
    content: "\e13f";
}
.nxi.nxi-bx-exit:before {
    content: "\e140";
}
.nxi.nxi-bx-expand-alt:before {
    content: "\e141";
}
.nxi.nxi-bx-expand-horizontal:before {
    content: "\e142";
}
.nxi.nxi-bx-expand-vertical:before {
    content: "\e143";
}
.nxi.nxi-bx-expand:before {
    content: "\e144";
}
.nxi.nxi-bx-export:before {
    content: "\e145";
}
.nxi.nxi-bx-extension:before {
    content: "\e146";
}
.nxi.nxi-bx-face:before {
    content: "\e147";
}
.nxi.nxi-bx-fast-forward-circle:before {
    content: "\e148";
}
.nxi.nxi-bx-fast-forward:before {
    content: "\e149";
}
.nxi.nxi-bx-female-sign:before {
    content: "\e14a";
}
.nxi.nxi-bx-female:before {
    content: "\e14b";
}
.nxi.nxi-bx-file-blank:before {
    content: "\e14c";
}
.nxi.nxi-bx-file-find:before {
    content: "\e14d";
}
.nxi.nxi-bx-file:before {
    content: "\e14e";
}
.nxi.nxi-bx-film:before {
    content: "\e14f";
}
.nxi.nxi-bx-filter-alt:before {
    content: "\e150";
}
.nxi.nxi-bx-filter:before {
    content: "\e151";
}
.nxi.nxi-bx-fingerprint:before {
    content: "\e152";
}
.nxi.nxi-bx-first-aid:before {
    content: "\e153";
}
.nxi.nxi-bx-first-page:before {
    content: "\e154";
}
.nxi.nxi-bx-flag:before {
    content: "\e155";
}
.nxi.nxi-bx-folder-minus:before {
    content: "\e156";
}
.nxi.nxi-bx-folder-open:before {
    content: "\e157";
}
.nxi.nxi-bx-folder-plus:before {
    content: "\e158";
}
.nxi.nxi-bx-folder:before {
    content: "\e159";
}
.nxi.nxi-bx-font-color:before {
    content: "\e15a";
}
.nxi.nxi-bx-font-family:before {
    content: "\e15b";
}
.nxi.nxi-bx-font-size:before {
    content: "\e15c";
}
.nxi.nxi-bx-font:before {
    content: "\e15d";
}
.nxi.nxi-bx-food-menu:before {
    content: "\e15e";
}
.nxi.nxi-bx-food-tag:before {
    content: "\e15f";
}
.nxi.nxi-bx-football:before {
    content: "\e160";
}
.nxi.nxi-bx-fork:before {
    content: "\e161";
}
.nxi.nxi-bx-fridge:before {
    content: "\e162";
}
.nxi.nxi-bx-fullscreen:before {
    content: "\e163";
}
.nxi.nxi-bx-game:before {
    content: "\e164";
}
.nxi.nxi-bx-gas-pump:before {
    content: "\e165";
}
.nxi.nxi-bx-ghost:before {
    content: "\e166";
}
.nxi.nxi-bx-gift:before {
    content: "\e167";
}
.nxi.nxi-bx-git-branch:before {
    content: "\e168";
}
.nxi.nxi-bx-git-commit:before {
    content: "\e169";
}
.nxi.nxi-bx-git-compare:before {
    content: "\e16a";
}
.nxi.nxi-bx-git-merge:before {
    content: "\e16b";
}
.nxi.nxi-bx-git-pull-request:before {
    content: "\e16c";
}
.nxi.nxi-bx-git-repo-forked:before {
    content: "\e16d";
}
.nxi.nxi-bx-glasses-alt:before {
    content: "\e16e";
}
.nxi.nxi-bx-glasses:before {
    content: "\e16f";
}
.nxi.nxi-bx-globe-alt:before {
    content: "\e170";
}
.nxi.nxi-bx-globe:before {
    content: "\e171";
}
.nxi.nxi-bx-grid-alt:before {
    content: "\e172";
}
.nxi.nxi-bx-grid-horizontal:before {
    content: "\e173";
}
.nxi.nxi-bx-grid-small:before {
    content: "\e174";
}
.nxi.nxi-bx-grid-vertical:before {
    content: "\e175";
}
.nxi.nxi-bx-grid:before {
    content: "\e176";
}
.nxi.nxi-bx-group:before {
    content: "\e177";
}
.nxi.nxi-bx-handicap:before {
    content: "\e178";
}
.nxi.nxi-bx-happy-alt:before {
    content: "\e179";
}
.nxi.nxi-bx-happy-beaming:before {
    content: "\e17a";
}
.nxi.nxi-bx-happy-heart-eyes:before {
    content: "\e17b";
}
.nxi.nxi-bx-happy:before {
    content: "\e17c";
}
.nxi.nxi-bx-hard-hat:before {
    content: "\e17d";
}
.nxi.nxi-bx-hash:before {
    content: "\e17e";
}
.nxi.nxi-bx-hdd:before {
    content: "\e17f";
}
.nxi.nxi-bx-heading:before {
    content: "\e180";
}
.nxi.nxi-bx-headphone:before {
    content: "\e181";
}
.nxi.nxi-bx-health:before {
    content: "\e182";
}
.nxi.nxi-bx-heart-circle:before {
    content: "\e183";
}
.nxi.nxi-bx-heart-square:before {
    content: "\e184";
}
.nxi.nxi-bx-heart:before {
    content: "\e185";
}
.nxi.nxi-bx-help-circle:before {
    content: "\e186";
}
.nxi.nxi-bx-hide:before {
    content: "\e187";
}
.nxi.nxi-bx-highlight:before {
    content: "\e188";
}
.nxi.nxi-bx-history:before {
    content: "\e189";
}
.nxi.nxi-bx-hive:before {
    content: "\e18a";
}
.nxi.nxi-bx-home-alt-2:before {
    content: "\e18b";
}
.nxi.nxi-bx-home-alt:before {
    content: "\e18c";
}
.nxi.nxi-bx-home-circle:before {
    content: "\e18d";
}
.nxi.nxi-bx-home-heart:before {
    content: "\e18e";
}
.nxi.nxi-bx-home-smile:before {
    content: "\e18f";
}
.nxi.nxi-bx-home:before {
    content: "\e190";
}
.nxi.nxi-bx-horizontal-center:before {
    content: "\e191";
}
.nxi.nxi-bx-horizontal-left:before {
    content: "\e192";
}
.nxi.nxi-bx-horizontal-right:before {
    content: "\e193";
}
.nxi.nxi-bx-hotel:before {
    content: "\e194";
}
.nxi.nxi-bx-hourglass:before {
    content: "\e195";
}
.nxi.nxi-bx-id-card:before {
    content: "\e196";
}
.nxi.nxi-bx-image-add:before {
    content: "\e197";
}
.nxi.nxi-bx-image-alt:before {
    content: "\e198";
}
.nxi.nxi-bx-image:before {
    content: "\e199";
}
.nxi.nxi-bx-images:before {
    content: "\e19a";
}
.nxi.nxi-bx-import:before {
    content: "\e19b";
}
.nxi.nxi-bx-infinite:before {
    content: "\e19c";
}
.nxi.nxi-bx-info-circle:before {
    content: "\e19d";
}
.nxi.nxi-bx-info-square:before {
    content: "\e19e";
}
.nxi.nxi-bx-injection:before {
    content: "\e19f";
}
.nxi.nxi-bx-intersect:before {
    content: "\e1a0";
}
.nxi.nxi-bx-italic:before {
    content: "\e1a1";
}
.nxi.nxi-bx-joystick-alt:before {
    content: "\e1a2";
}
.nxi.nxi-bx-joystick-button:before {
    content: "\e1a3";
}
.nxi.nxi-bx-joystick:before {
    content: "\e1a4";
}
.nxi.nxi-bx-key:before {
    content: "\e1a5";
}
.nxi.nxi-bx-knife:before {
    content: "\e1a6";
}
.nxi.nxi-bx-label:before {
    content: "\e1a7";
}
.nxi.nxi-bx-landscape:before {
    content: "\e1a8";
}
.nxi.nxi-bx-laptop:before {
    content: "\e1a9";
}
.nxi.nxi-bx-last-page:before {
    content: "\e1aa";
}
.nxi.nxi-bx-laugh:before {
    content: "\e1ab";
}
.nxi.nxi-bx-layer-minus:before {
    content: "\e1ac";
}
.nxi.nxi-bx-layer-plus:before {
    content: "\e1ad";
}
.nxi.nxi-bx-layer:before {
    content: "\e1ae";
}
.nxi.nxi-bx-layout:before {
    content: "\e1af";
}
.nxi.nxi-bx-leaf:before {
    content: "\e1b0";
}
.nxi.nxi-bx-left-arrow-alt:before {
    content: "\e1b1";
}
.nxi.nxi-bx-left-arrow-circle:before {
    content: "\e1b2";
}
.nxi.nxi-bx-left-arrow:before {
    content: "\e1b3";
}
.nxi.nxi-bx-left-down-arrow-circle:before {
    content: "\e1b4";
}
.nxi.nxi-bx-left-indent:before {
    content: "\e1b5";
}
.nxi.nxi-bx-left-top-arrow-circle:before {
    content: "\e1b6";
}
.nxi.nxi-bx-lemon:before {
    content: "\e1b7";
}
.nxi.nxi-bx-library:before {
    content: "\e1b8";
}
.nxi.nxi-bx-like:before {
    content: "\e1b9";
}
.nxi.nxi-bx-line-chart-down:before {
    content: "\e1ba";
}
.nxi.nxi-bx-line-chart:before {
    content: "\e1bb";
}
.nxi.nxi-bx-link-alt:before {
    content: "\e1bc";
}
.nxi.nxi-bx-link-external:before {
    content: "\e1bd";
}
.nxi.nxi-bx-link:before {
    content: "\e1be";
}
.nxi.nxi-bx-lira:before {
    content: "\e1bf";
}
.nxi.nxi-bx-list-check:before {
    content: "\e1c0";
}
.nxi.nxi-bx-list-minus:before {
    content: "\e1c1";
}
.nxi.nxi-bx-list-ol:before {
    content: "\e1c2";
}
.nxi.nxi-bx-list-plus:before {
    content: "\e1c3";
}
.nxi.nxi-bx-list-ul:before {
    content: "\e1c4";
}
.nxi.nxi-bx-loader-alt:before {
    content: "\e1c5";
}
.nxi.nxi-bx-loader-circle:before {
    content: "\e1c6";
}
.nxi.nxi-bx-loader:before {
    content: "\e1c7";
}
.nxi.nxi-bx-location-plus:before {
    content: "\e1c8";
}
.nxi.nxi-bx-lock-alt:before {
    content: "\e1c9";
}
.nxi.nxi-bx-lock-open-alt:before {
    content: "\e1ca";
}
.nxi.nxi-bx-lock-open:before {
    content: "\e1cb";
}
.nxi.nxi-bx-lock:before {
    content: "\e1cc";
}
.nxi.nxi-bx-log-in-circle:before {
    content: "\e1cd";
}
.nxi.nxi-bx-log-in:before {
    content: "\e1ce";
}
.nxi.nxi-bx-log-out-circle:before {
    content: "\e1cf";
}
.nxi.nxi-bx-log-out:before {
    content: "\e1d0";
}
.nxi.nxi-bx-low-vision:before {
    content: "\e1d1";
}
.nxi.nxi-bx-magnet:before {
    content: "\e1d2";
}
.nxi.nxi-bx-mail-send:before {
    content: "\e1d3";
}
.nxi.nxi-bx-male-female:before {
    content: "\e1d4";
}
.nxi.nxi-bx-male-sign:before {
    content: "\e1d5";
}
.nxi.nxi-bx-male:before {
    content: "\e1d6";
}
.nxi.nxi-bx-map-alt:before {
    content: "\e1d7";
}
.nxi.nxi-bx-map-pin:before {
    content: "\e1d8";
}
.nxi.nxi-bx-map:before {
    content: "\e1d9";
}
.nxi.nxi-bx-mask:before {
    content: "\e1da";
}
.nxi.nxi-bx-math:before {
    content: "\e1db";
}
.nxi.nxi-bx-medal:before {
    content: "\e1dc";
}
.nxi.nxi-bx-meh-alt:before {
    content: "\e1dd";
}
.nxi.nxi-bx-meh-blank:before {
    content: "\e1de";
}
.nxi.nxi-bx-meh:before {
    content: "\e1df";
}
.nxi.nxi-bx-memory-card:before {
    content: "\e1e0";
}
.nxi.nxi-bx-menu-alt-left:before {
    content: "\e1e1";
}
.nxi.nxi-bx-menu-alt-right:before {
    content: "\e1e2";
}
.nxi.nxi-bx-menu:before {
    content: "\e1e3";
}
.nxi.nxi-bx-merge:before {
    content: "\e1e4";
}
.nxi.nxi-bx-message-add:before {
    content: "\e1e5";
}
.nxi.nxi-bx-message-alt-add:before {
    content: "\e1e6";
}
.nxi.nxi-bx-message-alt-check:before {
    content: "\e1e7";
}
.nxi.nxi-bx-message-alt-detail:before {
    content: "\e1e8";
}
.nxi.nxi-bx-message-alt-dots:before {
    content: "\e1e9";
}
.nxi.nxi-bx-message-alt-edit:before {
    content: "\e1ea";
}
.nxi.nxi-bx-message-alt-error:before {
    content: "\e1eb";
}
.nxi.nxi-bx-message-alt-minus:before {
    content: "\e1ec";
}
.nxi.nxi-bx-message-alt-x:before {
    content: "\e1ed";
}
.nxi.nxi-bx-message-alt:before {
    content: "\e1ee";
}
.nxi.nxi-bx-message-check:before {
    content: "\e1ef";
}
.nxi.nxi-bx-message-detail:before {
    content: "\e1f0";
}
.nxi.nxi-bx-message-dots:before {
    content: "\e1f1";
}
.nxi.nxi-bx-message-edit:before {
    content: "\e1f2";
}
.nxi.nxi-bx-message-error:before {
    content: "\e1f3";
}
.nxi.nxi-bx-message-minus:before {
    content: "\e1f4";
}
.nxi.nxi-bx-message-rounded-add:before {
    content: "\e1f5";
}
.nxi.nxi-bx-message-rounded-check:before {
    content: "\e1f6";
}
.nxi.nxi-bx-message-rounded-detail:before {
    content: "\e1f7";
}
.nxi.nxi-bx-message-rounded-dots:before {
    content: "\e1f8";
}
.nxi.nxi-bx-message-rounded-edit:before {
    content: "\e1f9";
}
.nxi.nxi-bx-message-rounded-error:before {
    content: "\e1fa";
}
.nxi.nxi-bx-message-rounded-minus:before {
    content: "\e1fb";
}
.nxi.nxi-bx-message-rounded-x:before {
    content: "\e1fc";
}
.nxi.nxi-bx-message-rounded:before {
    content: "\e1fd";
}
.nxi.nxi-bx-message-square-add:before {
    content: "\e1fe";
}
.nxi.nxi-bx-message-square-check:before {
    content: "\e1ff";
}
.nxi.nxi-bx-message-square-detail:before {
    content: "\e200";
}
.nxi.nxi-bx-message-square-dots:before {
    content: "\e201";
}
.nxi.nxi-bx-message-square-edit:before {
    content: "\e202";
}
.nxi.nxi-bx-message-square-error:before {
    content: "\e203";
}
.nxi.nxi-bx-message-square-minus:before {
    content: "\e204";
}
.nxi.nxi-bx-message-square-x:before {
    content: "\e205";
}
.nxi.nxi-bx-message-square:before {
    content: "\e206";
}
.nxi.nxi-bx-message-x:before {
    content: "\e207";
}
.nxi.nxi-bx-message:before {
    content: "\e208";
}
.nxi.nxi-bx-meteor:before {
    content: "\e209";
}
.nxi.nxi-bx-microchip:before {
    content: "\e20a";
}
.nxi.nxi-bx-microphone-off:before {
    content: "\e20b";
}
.nxi.nxi-bx-microphone:before {
    content: "\e20c";
}
.nxi.nxi-bx-minus-back:before {
    content: "\e20d";
}
.nxi.nxi-bx-minus-circle:before {
    content: "\e20e";
}
.nxi.nxi-bx-minus-front:before {
    content: "\e20f";
}
.nxi.nxi-bx-minus:before {
    content: "\e210";
}
.nxi.nxi-bx-mobile-alt:before {
    content: "\e211";
}
.nxi.nxi-bx-mobile-landscape:before {
    content: "\e212";
}
.nxi.nxi-bx-mobile-vibration:before {
    content: "\e213";
}
.nxi.nxi-bx-mobile:before {
    content: "\e214";
}
.nxi.nxi-bx-money-withdraw:before {
    content: "\e215";
}
.nxi.nxi-bx-money:before {
    content: "\e216";
}
.nxi.nxi-bx-moon:before {
    content: "\e217";
}
.nxi.nxi-bx-mouse-alt:before {
    content: "\e218";
}
.nxi.nxi-bx-mouse:before {
    content: "\e219";
}
.nxi.nxi-bx-move-horizontal:before {
    content: "\e21a";
}
.nxi.nxi-bx-move-vertical:before {
    content: "\e21b";
}
.nxi.nxi-bx-move:before {
    content: "\e21c";
}
.nxi.nxi-bx-movie-play:before {
    content: "\e21d";
}
.nxi.nxi-bx-movie:before {
    content: "\e21e";
}
.nxi.nxi-bx-music:before {
    content: "\e21f";
}
.nxi.nxi-bx-navigation:before {
    content: "\e220";
}
.nxi.nxi-bx-network-chart:before {
    content: "\e221";
}
.nxi.nxi-bx-news:before {
    content: "\e222";
}
.nxi.nxi-bx-no-entry:before {
    content: "\e223";
}
.nxi.nxi-bx-no-signal:before {
    content: "\e224";
}
.nxi.nxi-bx-note:before {
    content: "\e225";
}
.nxi.nxi-bx-notepad:before {
    content: "\e226";
}
.nxi.nxi-bx-notification-off:before {
    content: "\e227";
}
.nxi.nxi-bx-notification:before {
    content: "\e228";
}
.nxi.nxi-bx-objects-horizontal-center:before {
    content: "\e229";
}
.nxi.nxi-bx-objects-horizontal-left:before {
    content: "\e22a";
}
.nxi.nxi-bx-objects-horizontal-right:before {
    content: "\e22b";
}
.nxi.nxi-bx-objects-vertical-bottom:before {
    content: "\e22c";
}
.nxi.nxi-bx-objects-vertical-center:before {
    content: "\e22d";
}
.nxi.nxi-bx-objects-vertical-top:before {
    content: "\e22e";
}
.nxi.nxi-bx-outline:before {
    content: "\e22f";
}
.nxi.nxi-bx-package:before {
    content: "\e230";
}
.nxi.nxi-bx-paint-roll:before {
    content: "\e231";
}
.nxi.nxi-bx-paint:before {
    content: "\e232";
}
.nxi.nxi-bx-palette:before {
    content: "\e233";
}
.nxi.nxi-bx-paper-plane:before {
    content: "\e234";
}
.nxi.nxi-bx-paperclip:before {
    content: "\e235";
}
.nxi.nxi-bx-paragraph:before {
    content: "\e236";
}
.nxi.nxi-bx-party:before {
    content: "\e237";
}
.nxi.nxi-bx-paste:before {
    content: "\e238";
}
.nxi.nxi-bx-pause-circle:before {
    content: "\e239";
}
.nxi.nxi-bx-pause:before {
    content: "\e23a";
}
.nxi.nxi-bx-pen:before {
    content: "\e23b";
}
.nxi.nxi-bx-pencil:before {
    content: "\e23c";
}
.nxi.nxi-bx-phone-call:before {
    content: "\e23d";
}
.nxi.nxi-bx-phone-incoming:before {
    content: "\e23e";
}
.nxi.nxi-bx-phone-off:before {
    content: "\e23f";
}
.nxi.nxi-bx-phone-outgoing:before {
    content: "\e240";
}
.nxi.nxi-bx-phone:before {
    content: "\e241";
}
.nxi.nxi-bx-photo-album:before {
    content: "\e242";
}
.nxi.nxi-bx-pie-chart-alt-2:before {
    content: "\e243";
}
.nxi.nxi-bx-pie-chart-alt:before {
    content: "\e244";
}
.nxi.nxi-bx-pie-chart:before {
    content: "\e245";
}
.nxi.nxi-bx-pin:before {
    content: "\e246";
}
.nxi.nxi-bx-planet:before {
    content: "\e247";
}
.nxi.nxi-bx-play-circle:before {
    content: "\e248";
}
.nxi.nxi-bx-play:before {
    content: "\e249";
}
.nxi.nxi-bx-plug:before {
    content: "\e24a";
}
.nxi.nxi-bx-plus-circle:before {
    content: "\e24b";
}
.nxi.nxi-bx-plus-medical:before {
    content: "\e24c";
}
.nxi.nxi-bx-plus:before {
    content: "\e24d";
}
.nxi.nxi-bx-podcast:before {
    content: "\e24e";
}
.nxi.nxi-bx-pointer:before {
    content: "\e24f";
}
.nxi.nxi-bx-poll:before {
    content: "\e250";
}
.nxi.nxi-bx-polygon:before {
    content: "\e251";
}
.nxi.nxi-bx-popsicle:before {
    content: "\e252";
}
.nxi.nxi-bx-pound:before {
    content: "\e253";
}
.nxi.nxi-bx-power-off:before {
    content: "\e254";
}
.nxi.nxi-bx-printer:before {
    content: "\e255";
}
.nxi.nxi-bx-pulse:before {
    content: "\e256";
}
.nxi.nxi-bx-purchase-tag-alt:before {
    content: "\e257";
}
.nxi.nxi-bx-purchase-tag:before {
    content: "\e258";
}
.nxi.nxi-bx-pyramid:before {
    content: "\e259";
}
.nxi.nxi-bx-qr-scan:before {
    content: "\e25a";
}
.nxi.nxi-bx-qr:before {
    content: "\e25b";
}
.nxi.nxi-bx-question-mark:before {
    content: "\e25c";
}
.nxi.nxi-bx-radar:before {
    content: "\e25d";
}
.nxi.nxi-bx-radio-circle-marked:before {
    content: "\e25e";
}
.nxi.nxi-bx-radio-circle:before {
    content: "\e25f";
}
.nxi.nxi-bx-radio:before {
    content: "\e260";
}
.nxi.nxi-bx-receipt:before {
    content: "\e261";
}
.nxi.nxi-bx-rectangle:before {
    content: "\e262";
}
.nxi.nxi-bx-recycle:before {
    content: "\e263";
}
.nxi.nxi-bx-redo:before {
    content: "\e264";
}
.nxi.nxi-bx-reflect-horizontal:before {
    content: "\e265";
}
.nxi.nxi-bx-reflect-vertical:before {
    content: "\e266";
}
.nxi.nxi-bx-refresh:before {
    content: "\e267";
}
.nxi.nxi-bx-registered:before {
    content: "\e268";
}
.nxi.nxi-bx-rename:before {
    content: "\e269";
}
.nxi.nxi-bx-repeat:before {
    content: "\e26a";
}
.nxi.nxi-bx-reply-all:before {
    content: "\e26b";
}
.nxi.nxi-bx-reply:before {
    content: "\e26c";
}
.nxi.nxi-bx-repost:before {
    content: "\e26d";
}
.nxi.nxi-bx-reset:before {
    content: "\e26e";
}
.nxi.nxi-bx-restaurant:before {
    content: "\e26f";
}
.nxi.nxi-bx-revision:before {
    content: "\e270";
}
.nxi.nxi-bx-rewind-circle:before {
    content: "\e271";
}
.nxi.nxi-bx-rewind:before {
    content: "\e272";
}
.nxi.nxi-bx-rfid:before {
    content: "\e273";
}
.nxi.nxi-bx-right-arrow-alt:before {
    content: "\e274";
}
.nxi.nxi-bx-right-arrow-circle:before {
    content: "\e275";
}
.nxi.nxi-bx-right-arrow:before {
    content: "\e276";
}
.nxi.nxi-bx-right-down-arrow-circle:before {
    content: "\e277";
}
.nxi.nxi-bx-right-indent:before {
    content: "\e278";
}
.nxi.nxi-bx-right-top-arrow-circle:before {
    content: "\e279";
}
.nxi.nxi-bx-rocket:before {
    content: "\e27a";
}
.nxi.nxi-bx-rotate-left:before {
    content: "\e27b";
}
.nxi.nxi-bx-rotate-right:before {
    content: "\e27c";
}
.nxi.nxi-bx-rss:before {
    content: "\e27d";
}
.nxi.nxi-bx-ruble:before {
    content: "\e27e";
}
.nxi.nxi-bx-ruler:before {
    content: "\e27f";
}
.nxi.nxi-bx-run:before {
    content: "\e280";
}
.nxi.nxi-bx-rupee:before {
    content: "\e281";
}
.nxi.nxi-bx-sad:before {
    content: "\e282";
}
.nxi.nxi-bx-save:before {
    content: "\e283";
}
.nxi.nxi-bx-scan:before {
    content: "\e284";
}
.nxi.nxi-bx-scatter-chart:before {
    content: "\e285";
}
.nxi.nxi-bx-screenshot:before {
    content: "\e286";
}
.nxi.nxi-bx-search-alt-2:before {
    content: "\e287";
}
.nxi.nxi-bx-search-alt:before {
    content: "\e288";
}
.nxi.nxi-bx-search:before {
    content: "\e289";
}
.nxi.nxi-bx-select-multiple:before {
    content: "\e28a";
}
.nxi.nxi-bx-selection:before {
    content: "\e28b";
}
.nxi.nxi-bx-send:before {
    content: "\e28c";
}
.nxi.nxi-bx-server:before {
    content: "\e28d";
}
.nxi.nxi-bx-shape-circle:before {
    content: "\e28e";
}
.nxi.nxi-bx-shape-polygon:before {
    content: "\e28f";
}
.nxi.nxi-bx-shape-square:before {
    content: "\e290";
}
.nxi.nxi-bx-shape-triangle:before {
    content: "\e291";
}
.nxi.nxi-bx-share-alt:before {
    content: "\e292";
}
.nxi.nxi-bx-share:before {
    content: "\e293";
}
.nxi.nxi-bx-shekel:before {
    content: "\e294";
}
.nxi.nxi-bx-shield-alt-2:before {
    content: "\e295";
}
.nxi.nxi-bx-shield-alt:before {
    content: "\e296";
}
.nxi.nxi-bx-shield-minus:before {
    content: "\e297";
}
.nxi.nxi-bx-shield-plus:before {
    content: "\e298";
}
.nxi.nxi-bx-shield-quarter:before {
    content: "\e299";
}
.nxi.nxi-bx-shield-x:before {
    content: "\e29a";
}
.nxi.nxi-bx-shield:before {
    content: "\e29b";
}
.nxi.nxi-bx-shocked:before {
    content: "\e29c";
}
.nxi.nxi-bx-shopping-bag:before {
    content: "\e29d";
}
.nxi.nxi-bx-show-alt:before {
    content: "\e29e";
}
.nxi.nxi-bx-show:before {
    content: "\e29f";
}
.nxi.nxi-bx-shower:before {
    content: "\e2a0";
}
.nxi.nxi-bx-shuffle:before {
    content: "\e2a1";
}
.nxi.nxi-bx-sidebar:before {
    content: "\e2a2";
}
.nxi.nxi-bx-signal-1:before {
    content: "\e2a3";
}
.nxi.nxi-bx-signal-2:before {
    content: "\e2a4";
}
.nxi.nxi-bx-signal-3:before {
    content: "\e2a5";
}
.nxi.nxi-bx-signal-4:before {
    content: "\e2a6";
}
.nxi.nxi-bx-signal-5:before {
    content: "\e2a7";
}
.nxi.nxi-bx-sitemap:before {
    content: "\e2a8";
}
.nxi.nxi-bx-skip-next-circle:before {
    content: "\e2a9";
}
.nxi.nxi-bx-skip-next:before {
    content: "\e2aa";
}
.nxi.nxi-bx-skip-previous-circle:before {
    content: "\e2ab";
}
.nxi.nxi-bx-skip-previous:before {
    content: "\e2ac";
}
.nxi.nxi-bx-sleepy:before {
    content: "\e2ad";
}
.nxi.nxi-bx-slider-alt:before {
    content: "\e2ae";
}
.nxi.nxi-bx-slider:before {
    content: "\e2af";
}
.nxi.nxi-bx-slideshow:before {
    content: "\e2b0";
}
.nxi.nxi-bx-smile:before {
    content: "\e2b1";
}
.nxi.nxi-bx-sort-a-z:before {
    content: "\e2b2";
}
.nxi.nxi-bx-sort-alt-2:before {
    content: "\e2b3";
}
.nxi.nxi-bx-sort-down:before {
    content: "\e2b4";
}
.nxi.nxi-bx-sort-up:before {
    content: "\e2b5";
}
.nxi.nxi-bx-sort-z-a:before {
    content: "\e2b6";
}
.nxi.nxi-bx-sort:before {
    content: "\e2b7";
}
.nxi.nxi-bx-spa:before {
    content: "\e2b8";
}
.nxi.nxi-bx-space-bar:before {
    content: "\e2b9";
}
.nxi.nxi-bx-speaker:before {
    content: "\e2ba";
}
.nxi.nxi-bx-spray-can:before {
    content: "\e2bb";
}
.nxi.nxi-bx-spreadsheet:before {
    content: "\e2bc";
}
.nxi.nxi-bx-square-rounded:before {
    content: "\e2bd";
}
.nxi.nxi-bx-square:before {
    content: "\e2be";
}
.nxi.nxi-bx-star:before {
    content: "\e2bf";
}
.nxi.nxi-bx-station:before {
    content: "\e2c0";
}
.nxi.nxi-bx-stats:before {
    content: "\e2c1";
}
.nxi.nxi-bx-sticker:before {
    content: "\e2c2";
}
.nxi.nxi-bx-stop-circle:before {
    content: "\e2c3";
}
.nxi.nxi-bx-stop:before {
    content: "\e2c4";
}
.nxi.nxi-bx-stopwatch:before {
    content: "\e2c5";
}
.nxi.nxi-bx-store-alt:before {
    content: "\e2c6";
}
.nxi.nxi-bx-store:before {
    content: "\e2c7";
}
.nxi.nxi-bx-street-view:before {
    content: "\e2c8";
}
.nxi.nxi-bx-strikethrough:before {
    content: "\e2c9";
}
.nxi.nxi-bx-subdirectory-left:before {
    content: "\e2ca";
}
.nxi.nxi-bx-subdirectory-right:before {
    content: "\e2cb";
}
.nxi.nxi-bx-sun:before {
    content: "\e2cc";
}
.nxi.nxi-bx-support:before {
    content: "\e2cd";
}
.nxi.nxi-bx-sushi:before {
    content: "\e2ce";
}
.nxi.nxi-bx-swim:before {
    content: "\e2cf";
}
.nxi.nxi-bx-sync:before {
    content: "\e2d0";
}
.nxi.nxi-bx-tab:before {
    content: "\e2d1";
}
.nxi.nxi-bx-table:before {
    content: "\e2d2";
}
.nxi.nxi-bx-tachometer:before {
    content: "\e2d3";
}
.nxi.nxi-bx-tag-alt:before {
    content: "\e2d4";
}
.nxi.nxi-bx-tag:before {
    content: "\e2d5";
}
.nxi.nxi-bx-target-lock:before {
    content: "\e2d6";
}
.nxi.nxi-bx-task-x:before {
    content: "\e2d7";
}
.nxi.nxi-bx-task:before {
    content: "\e2d8";
}
.nxi.nxi-bx-taxi:before {
    content: "\e2d9";
}
.nxi.nxi-bx-tennis-ball:before {
    content: "\e2da";
}
.nxi.nxi-bx-terminal:before {
    content: "\e2db";
}
.nxi.nxi-bx-test-tube:before {
    content: "\e2dc";
}
.nxi.nxi-bx-text:before {
    content: "\e2dd";
}
.nxi.nxi-bx-time-five:before {
    content: "\e2de";
}
.nxi.nxi-bx-time:before {
    content: "\e2df";
}
.nxi.nxi-bx-timer:before {
    content: "\e2e0";
}
.nxi.nxi-bx-tired:before {
    content: "\e2e1";
}
.nxi.nxi-bx-toggle-left:before {
    content: "\e2e2";
}
.nxi.nxi-bx-toggle-right:before {
    content: "\e2e3";
}
.nxi.nxi-bx-tone:before {
    content: "\e2e4";
}
.nxi.nxi-bx-traffic-cone:before {
    content: "\e2e5";
}
.nxi.nxi-bx-train:before {
    content: "\e2e6";
}
.nxi.nxi-bx-transfer-alt:before {
    content: "\e2e7";
}
.nxi.nxi-bx-transfer:before {
    content: "\e2e8";
}
.nxi.nxi-bx-trash-alt:before {
    content: "\e2e9";
}
.nxi.nxi-bx-trash:before {
    content: "\e2ea";
}
.nxi.nxi-bx-trending-down:before {
    content: "\e2eb";
}
.nxi.nxi-bx-trending-up:before {
    content: "\e2ec";
}
.nxi.nxi-bx-trim:before {
    content: "\e2ed";
}
.nxi.nxi-bx-trip:before {
    content: "\e2ee";
}
.nxi.nxi-bx-trophy:before {
    content: "\e2ef";
}
.nxi.nxi-bx-tv:before {
    content: "\e2f0";
}
.nxi.nxi-bx-underline:before {
    content: "\e2f1";
}
.nxi.nxi-bx-undo:before {
    content: "\e2f2";
}
.nxi.nxi-bx-unite:before {
    content: "\e2f3";
}
.nxi.nxi-bx-universal-access:before {
    content: "\e2f4";
}
.nxi.nxi-bx-unlink:before {
    content: "\e2f5";
}
.nxi.nxi-bx-up-arrow-alt:before {
    content: "\e2f6";
}
.nxi.nxi-bx-up-arrow-circle:before {
    content: "\e2f7";
}
.nxi.nxi-bx-up-arrow:before {
    content: "\e2f8";
}
.nxi.nxi-bx-upload:before {
    content: "\e2f9";
}
.nxi.nxi-bx-upside-down:before {
    content: "\e2fa";
}
.nxi.nxi-bx-upvote:before {
    content: "\e2fb";
}
.nxi.nxi-bx-usb:before {
    content: "\e2fc";
}
.nxi.nxi-bx-user-check:before {
    content: "\e2fd";
}
.nxi.nxi-bx-user-circle:before {
    content: "\e2fe";
}
.nxi.nxi-bx-user-minus:before {
    content: "\e2ff";
}
.nxi.nxi-bx-user-pin:before {
    content: "\e300";
}
.nxi.nxi-bx-user-plus:before {
    content: "\e301";
}
.nxi.nxi-bx-user-voice:before {
    content: "\e302";
}
.nxi.nxi-bx-user-x:before {
    content: "\e303";
}
.nxi.nxi-bx-user:before {
    content: "\e304";
}
.nxi.nxi-bx-vector:before {
    content: "\e305";
}
.nxi.nxi-bx-vertical-bottom:before {
    content: "\e306";
}
.nxi.nxi-bx-vertical-center:before {
    content: "\e307";
}
.nxi.nxi-bx-vertical-top:before {
    content: "\e308";
}
.nxi.nxi-bx-vial:before {
    content: "\e309";
}
.nxi.nxi-bx-video-off:before {
    content: "\e30a";
}
.nxi.nxi-bx-video-plus:before {
    content: "\e30b";
}
.nxi.nxi-bx-video-recording:before {
    content: "\e30c";
}
.nxi.nxi-bx-video:before {
    content: "\e30d";
}
.nxi.nxi-bx-voicemail:before {
    content: "\e30e";
}
.nxi.nxi-bx-volume-full:before {
    content: "\e30f";
}
.nxi.nxi-bx-volume-low:before {
    content: "\e310";
}
.nxi.nxi-bx-volume-mute:before {
    content: "\e311";
}
.nxi.nxi-bx-volume:before {
    content: "\e312";
}
.nxi.nxi-bx-walk:before {
    content: "\e313";
}
.nxi.nxi-bx-wallet-alt:before {
    content: "\e314";
}
.nxi.nxi-bx-wallet:before {
    content: "\e315";
}
.nxi.nxi-bx-water:before {
    content: "\e316";
}
.nxi.nxi-bx-webcam:before {
    content: "\e317";
}
.nxi.nxi-bx-wifi-0:before {
    content: "\e318";
}
.nxi.nxi-bx-wifi-1:before {
    content: "\e319";
}
.nxi.nxi-bx-wifi-2:before {
    content: "\e31a";
}
.nxi.nxi-bx-wifi-off:before {
    content: "\e31b";
}
.nxi.nxi-bx-wifi:before {
    content: "\e31c";
}
.nxi.nxi-bx-wind:before {
    content: "\e31d";
}
.nxi.nxi-bx-window-alt:before {
    content: "\e31e";
}
.nxi.nxi-bx-window-close:before {
    content: "\e31f";
}
.nxi.nxi-bx-window-open:before {
    content: "\e320";
}
.nxi.nxi-bx-window:before {
    content: "\e321";
}
.nxi.nxi-bx-windows:before {
    content: "\e322";
}
.nxi.nxi-bx-wine:before {
    content: "\e323";
}
.nxi.nxi-bx-wink-smile:before {
    content: "\e324";
}
.nxi.nxi-bx-wink-tongue:before {
    content: "\e325";
}
.nxi.nxi-bx-won:before {
    content: "\e326";
}
.nxi.nxi-bx-world:before {
    content: "\e327";
}
.nxi.nxi-bx-wrench:before {
    content: "\e328";
}
.nxi.nxi-bx-x-circle:before {
    content: "\e329";
}
.nxi.nxi-bx-x:before {
    content: "\e32a";
}
.nxi.nxi-bx-yen:before {
    content: "\e32b";
}
.nxi.nxi-bx-zoom-in:before {
    content: "\e32c";
}
.nxi.nxi-bx-zoom-out:before {
    content: "\e32d";
}
