@font-face {
    font-family: "index";
    src: url("./index.ttf?1b58cbbab172960e712708432a8506d2") format("truetype"),
url("./index.woff?1b58cbbab172960e712708432a8506d2") format("woff"),
url("./index.woff2?1b58cbbab172960e712708432a8506d2") format("woff2"),
url("./index.eot?1b58cbbab172960e712708432a8506d2#iefix") format("embedded-opentype");
}
.nxi {
    font-size: 1.5rem;
    display: inline-flex
}

.nxi:before {
    font-family: 'index' !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nxi.nxi-rmx-map-anchor-fill:before {
    content: "\e608";
}
.nxi.nxi-rmx-map-anchor-line:before {
    content: "\e609";
}
.nxi.nxi-rmx-map-barricade-fill:before {
    content: "\e60a";
}
.nxi.nxi-rmx-map-barricade-line:before {
    content: "\e60b";
}
.nxi.nxi-rmx-map-bike-fill:before {
    content: "\e60c";
}
.nxi.nxi-rmx-map-bike-line:before {
    content: "\e60d";
}
.nxi.nxi-rmx-map-bus-2-fill:before {
    content: "\e60e";
}
.nxi.nxi-rmx-map-bus-2-line:before {
    content: "\e60f";
}
.nxi.nxi-rmx-map-bus-fill:before {
    content: "\e610";
}
.nxi.nxi-rmx-map-bus-line:before {
    content: "\e611";
}
.nxi.nxi-rmx-map-bus-wifi-fill:before {
    content: "\e612";
}
.nxi.nxi-rmx-map-bus-wifi-line:before {
    content: "\e613";
}
.nxi.nxi-rmx-map-car-fill:before {
    content: "\e614";
}
.nxi.nxi-rmx-map-car-line:before {
    content: "\e615";
}
.nxi.nxi-rmx-map-car-washing-fill:before {
    content: "\e616";
}
.nxi.nxi-rmx-map-car-washing-line:before {
    content: "\e617";
}
.nxi.nxi-rmx-map-caravan-fill:before {
    content: "\e618";
}
.nxi.nxi-rmx-map-caravan-line:before {
    content: "\e619";
}
.nxi.nxi-rmx-map-charging-pile-2-fill:before {
    content: "\e61a";
}
.nxi.nxi-rmx-map-charging-pile-2-line:before {
    content: "\e61b";
}
.nxi.nxi-rmx-map-charging-pile-fill:before {
    content: "\e61c";
}
.nxi.nxi-rmx-map-charging-pile-line:before {
    content: "\e61d";
}
.nxi.nxi-rmx-map-china-railway-fill:before {
    content: "\e61e";
}
.nxi.nxi-rmx-map-china-railway-line:before {
    content: "\e61f";
}
.nxi.nxi-rmx-map-compass-2-fill:before {
    content: "\e620";
}
.nxi.nxi-rmx-map-compass-2-line:before {
    content: "\e621";
}
.nxi.nxi-rmx-map-compass-3-fill:before {
    content: "\e622";
}
.nxi.nxi-rmx-map-compass-3-line:before {
    content: "\e623";
}
.nxi.nxi-rmx-map-compass-4-fill:before {
    content: "\e624";
}
.nxi.nxi-rmx-map-compass-4-line:before {
    content: "\e625";
}
.nxi.nxi-rmx-map-compass-discover-fill:before {
    content: "\e626";
}
.nxi.nxi-rmx-map-compass-discover-line:before {
    content: "\e627";
}
.nxi.nxi-rmx-map-compass-fill:before {
    content: "\e628";
}
.nxi.nxi-rmx-map-compass-line:before {
    content: "\e629";
}
.nxi.nxi-rmx-map-cup-fill:before {
    content: "\e62a";
}
.nxi.nxi-rmx-map-cup-line:before {
    content: "\e62b";
}
.nxi.nxi-rmx-map-direction-fill:before {
    content: "\e62c";
}
.nxi.nxi-rmx-map-direction-line:before {
    content: "\e62d";
}
.nxi.nxi-rmx-map-e-bike-2-fill:before {
    content: "\e62e";
}
.nxi.nxi-rmx-map-e-bike-2-line:before {
    content: "\e62f";
}
.nxi.nxi-rmx-map-e-bike-fill:before {
    content: "\e630";
}
.nxi.nxi-rmx-map-e-bike-line:before {
    content: "\e631";
}
.nxi.nxi-rmx-map-earth-fill:before {
    content: "\e632";
}
.nxi.nxi-rmx-map-earth-line:before {
    content: "\e633";
}
.nxi.nxi-rmx-map-flight-land-fill:before {
    content: "\e634";
}
.nxi.nxi-rmx-map-flight-land-line:before {
    content: "\e635";
}
.nxi.nxi-rmx-map-flight-takeoff-fill:before {
    content: "\e636";
}
.nxi.nxi-rmx-map-flight-takeoff-line:before {
    content: "\e637";
}
.nxi.nxi-rmx-map-footprint-fill:before {
    content: "\e638";
}
.nxi.nxi-rmx-map-footprint-line:before {
    content: "\e639";
}
.nxi.nxi-rmx-map-gas-station-fill:before {
    content: "\e63a";
}
.nxi.nxi-rmx-map-gas-station-line:before {
    content: "\e63b";
}
.nxi.nxi-rmx-map-globe-fill:before {
    content: "\e63c";
}
.nxi.nxi-rmx-map-globe-line:before {
    content: "\e63d";
}
.nxi.nxi-rmx-map-goblet-fill:before {
    content: "\e63e";
}
.nxi.nxi-rmx-map-goblet-line:before {
    content: "\e63f";
}
.nxi.nxi-rmx-map-guide-fill:before {
    content: "\e640";
}
.nxi.nxi-rmx-map-guide-line:before {
    content: "\e641";
}
.nxi.nxi-rmx-map-hotel-bed-fill:before {
    content: "\e642";
}
.nxi.nxi-rmx-map-hotel-bed-line:before {
    content: "\e643";
}
.nxi.nxi-rmx-map-lifebuoy-fill:before {
    content: "\e644";
}
.nxi.nxi-rmx-map-lifebuoy-line:before {
    content: "\e645";
}
.nxi.nxi-rmx-map-luggage-cart-fill:before {
    content: "\e646";
}
.nxi.nxi-rmx-map-luggage-cart-line:before {
    content: "\e647";
}
.nxi.nxi-rmx-map-luggage-deposit-fill:before {
    content: "\e648";
}
.nxi.nxi-rmx-map-luggage-deposit-line:before {
    content: "\e649";
}
.nxi.nxi-rmx-map-map-2-fill:before {
    content: "\e64a";
}
.nxi.nxi-rmx-map-map-2-line:before {
    content: "\e64b";
}
.nxi.nxi-rmx-map-map-fill:before {
    content: "\e64c";
}
.nxi.nxi-rmx-map-map-line:before {
    content: "\e64d";
}
.nxi.nxi-rmx-map-map-pin-2-fill:before {
    content: "\e64e";
}
.nxi.nxi-rmx-map-map-pin-2-line:before {
    content: "\e64f";
}
.nxi.nxi-rmx-map-map-pin-3-fill:before {
    content: "\e650";
}
.nxi.nxi-rmx-map-map-pin-3-line:before {
    content: "\e651";
}
.nxi.nxi-rmx-map-map-pin-4-fill:before {
    content: "\e652";
}
.nxi.nxi-rmx-map-map-pin-4-line:before {
    content: "\e653";
}
.nxi.nxi-rmx-map-map-pin-5-fill:before {
    content: "\e654";
}
.nxi.nxi-rmx-map-map-pin-5-line:before {
    content: "\e655";
}
.nxi.nxi-rmx-map-map-pin-add-fill:before {
    content: "\e656";
}
.nxi.nxi-rmx-map-map-pin-add-line:before {
    content: "\e657";
}
.nxi.nxi-rmx-map-map-pin-fill:before {
    content: "\e658";
}
.nxi.nxi-rmx-map-map-pin-line:before {
    content: "\e659";
}
.nxi.nxi-rmx-map-map-pin-range-fill:before {
    content: "\e65a";
}
.nxi.nxi-rmx-map-map-pin-range-line:before {
    content: "\e65b";
}
.nxi.nxi-rmx-map-map-pin-time-fill:before {
    content: "\e65c";
}
.nxi.nxi-rmx-map-map-pin-time-line:before {
    content: "\e65d";
}
.nxi.nxi-rmx-map-map-pin-user-fill:before {
    content: "\e65e";
}
.nxi.nxi-rmx-map-map-pin-user-line:before {
    content: "\e65f";
}
.nxi.nxi-rmx-map-motorbike-fill:before {
    content: "\e660";
}
.nxi.nxi-rmx-map-motorbike-line:before {
    content: "\e661";
}
.nxi.nxi-rmx-map-navigation-fill:before {
    content: "\e662";
}
.nxi.nxi-rmx-map-navigation-line:before {
    content: "\e663";
}
.nxi.nxi-rmx-map-oil-fill:before {
    content: "\e664";
}
.nxi.nxi-rmx-map-oil-line:before {
    content: "\e665";
}
.nxi.nxi-rmx-map-parking-box-fill:before {
    content: "\e666";
}
.nxi.nxi-rmx-map-parking-box-line:before {
    content: "\e667";
}
.nxi.nxi-rmx-map-parking-fill:before {
    content: "\e668";
}
.nxi.nxi-rmx-map-parking-line:before {
    content: "\e669";
}
.nxi.nxi-rmx-map-passport-fill:before {
    content: "\e66a";
}
.nxi.nxi-rmx-map-passport-line:before {
    content: "\e66b";
}
.nxi.nxi-rmx-map-pin-distance-fill:before {
    content: "\e66c";
}
.nxi.nxi-rmx-map-pin-distance-line:before {
    content: "\e66d";
}
.nxi.nxi-rmx-map-plane-fill:before {
    content: "\e66e";
}
.nxi.nxi-rmx-map-plane-line:before {
    content: "\e66f";
}
.nxi.nxi-rmx-map-planet-fill:before {
    content: "\e670";
}
.nxi.nxi-rmx-map-planet-line:before {
    content: "\e671";
}
.nxi.nxi-rmx-map-police-car-fill:before {
    content: "\e672";
}
.nxi.nxi-rmx-map-police-car-line:before {
    content: "\e673";
}
.nxi.nxi-rmx-map-pushpin-2-fill:before {
    content: "\e674";
}
.nxi.nxi-rmx-map-pushpin-2-line:before {
    content: "\e675";
}
.nxi.nxi-rmx-map-pushpin-fill:before {
    content: "\e676";
}
.nxi.nxi-rmx-map-pushpin-line:before {
    content: "\e677";
}
.nxi.nxi-rmx-map-restaurant-2-fill:before {
    content: "\e678";
}
.nxi.nxi-rmx-map-restaurant-2-line:before {
    content: "\e679";
}
.nxi.nxi-rmx-map-restaurant-fill:before {
    content: "\e67a";
}
.nxi.nxi-rmx-map-restaurant-line:before {
    content: "\e67b";
}
.nxi.nxi-rmx-map-riding-fill:before {
    content: "\e67c";
}
.nxi.nxi-rmx-map-riding-line:before {
    content: "\e67d";
}
.nxi.nxi-rmx-map-road-map-fill:before {
    content: "\e67e";
}
.nxi.nxi-rmx-map-road-map-line:before {
    content: "\e67f";
}
.nxi.nxi-rmx-map-roadster-fill:before {
    content: "\e680";
}
.nxi.nxi-rmx-map-roadster-line:before {
    content: "\e681";
}
.nxi.nxi-rmx-map-rocket-2-fill:before {
    content: "\e682";
}
.nxi.nxi-rmx-map-rocket-2-line:before {
    content: "\e683";
}
.nxi.nxi-rmx-map-rocket-fill:before {
    content: "\e684";
}
.nxi.nxi-rmx-map-rocket-line:before {
    content: "\e685";
}
.nxi.nxi-rmx-map-route-fill:before {
    content: "\e686";
}
.nxi.nxi-rmx-map-route-line:before {
    content: "\e687";
}
.nxi.nxi-rmx-map-run-fill:before {
    content: "\e688";
}
.nxi.nxi-rmx-map-run-line:before {
    content: "\e689";
}
.nxi.nxi-rmx-map-sailboat-fill:before {
    content: "\e68a";
}
.nxi.nxi-rmx-map-sailboat-line:before {
    content: "\e68b";
}
.nxi.nxi-rmx-map-ship-2-fill:before {
    content: "\e68c";
}
.nxi.nxi-rmx-map-ship-2-line:before {
    content: "\e68d";
}
.nxi.nxi-rmx-map-ship-fill:before {
    content: "\e68e";
}
.nxi.nxi-rmx-map-ship-line:before {
    content: "\e68f";
}
.nxi.nxi-rmx-map-signal-tower-fill:before {
    content: "\e690";
}
.nxi.nxi-rmx-map-signal-tower-line:before {
    content: "\e691";
}
.nxi.nxi-rmx-map-space-ship-fill:before {
    content: "\e692";
}
.nxi.nxi-rmx-map-space-ship-line:before {
    content: "\e693";
}
.nxi.nxi-rmx-map-steering-2-fill:before {
    content: "\e694";
}
.nxi.nxi-rmx-map-steering-2-line:before {
    content: "\e695";
}
.nxi.nxi-rmx-map-steering-fill:before {
    content: "\e696";
}
.nxi.nxi-rmx-map-steering-line:before {
    content: "\e697";
}
.nxi.nxi-rmx-map-subway-fill:before {
    content: "\e698";
}
.nxi.nxi-rmx-map-subway-line:before {
    content: "\e699";
}
.nxi.nxi-rmx-map-subway-wifi-fill:before {
    content: "\e69a";
}
.nxi.nxi-rmx-map-subway-wifi-line:before {
    content: "\e69b";
}
.nxi.nxi-rmx-map-suitcase-2-fill:before {
    content: "\e69c";
}
.nxi.nxi-rmx-map-suitcase-2-line:before {
    content: "\e69d";
}
.nxi.nxi-rmx-map-suitcase-3-fill:before {
    content: "\e69e";
}
.nxi.nxi-rmx-map-suitcase-3-line:before {
    content: "\e69f";
}
.nxi.nxi-rmx-map-suitcase-fill:before {
    content: "\e6a0";
}
.nxi.nxi-rmx-map-suitcase-line:before {
    content: "\e6a1";
}
.nxi.nxi-rmx-map-takeaway-fill:before {
    content: "\e6a2";
}
.nxi.nxi-rmx-map-takeaway-line:before {
    content: "\e6a3";
}
.nxi.nxi-rmx-map-taxi-fill:before {
    content: "\e6a4";
}
.nxi.nxi-rmx-map-taxi-line:before {
    content: "\e6a5";
}
.nxi.nxi-rmx-map-taxi-wifi-fill:before {
    content: "\e6a6";
}
.nxi.nxi-rmx-map-taxi-wifi-line:before {
    content: "\e6a7";
}
.nxi.nxi-rmx-map-traffic-light-fill:before {
    content: "\e6a8";
}
.nxi.nxi-rmx-map-traffic-light-line:before {
    content: "\e6a9";
}
.nxi.nxi-rmx-map-train-fill:before {
    content: "\e6aa";
}
.nxi.nxi-rmx-map-train-line:before {
    content: "\e6ab";
}
.nxi.nxi-rmx-map-train-wifi-fill:before {
    content: "\e6ac";
}
.nxi.nxi-rmx-map-train-wifi-line:before {
    content: "\e6ad";
}
.nxi.nxi-rmx-map-treasure-map-fill:before {
    content: "\e6ae";
}
.nxi.nxi-rmx-map-treasure-map-line:before {
    content: "\e6af";
}
.nxi.nxi-rmx-map-truck-fill:before {
    content: "\e6b0";
}
.nxi.nxi-rmx-map-truck-line:before {
    content: "\e6b1";
}
.nxi.nxi-rmx-map-unpin-fill:before {
    content: "\e6b2";
}
.nxi.nxi-rmx-map-unpin-line:before {
    content: "\e6b3";
}
.nxi.nxi-rmx-map-walk-fill:before {
    content: "\e6b4";
}
.nxi.nxi-rmx-map-walk-line:before {
    content: "\e6b5";
}
