@font-face {
    font-family: "index";
    src: url("./index.ttf?d8127f1b9955ab5577a1bf98c108f31a") format("truetype"),
url("./index.woff?d8127f1b9955ab5577a1bf98c108f31a") format("woff"),
url("./index.woff2?d8127f1b9955ab5577a1bf98c108f31a") format("woff2"),
url("./index.eot?d8127f1b9955ab5577a1bf98c108f31a#iefix") format("embedded-opentype");
}
.nxi {
    font-size: 1.5rem;
    display: inline-flex
}

.nxi:before {
    font-family: 'index' !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nxi.nxi-rmx-editor-a-b:before {
    content: "\e3ec";
}
.nxi.nxi-rmx-editor-ai-generate:before {
    content: "\e3ed";
}
.nxi.nxi-rmx-editor-align-bottom:before {
    content: "\e3ee";
}
.nxi.nxi-rmx-editor-align-center:before {
    content: "\e3ef";
}
.nxi.nxi-rmx-editor-align-justify:before {
    content: "\e3f0";
}
.nxi.nxi-rmx-editor-align-left:before {
    content: "\e3f1";
}
.nxi.nxi-rmx-editor-align-right:before {
    content: "\e3f2";
}
.nxi.nxi-rmx-editor-align-top:before {
    content: "\e3f3";
}
.nxi.nxi-rmx-editor-align-vertically:before {
    content: "\e3f4";
}
.nxi.nxi-rmx-editor-asterisk:before {
    content: "\e3f5";
}
.nxi.nxi-rmx-editor-attachment-2:before {
    content: "\e3f6";
}
.nxi.nxi-rmx-editor-bold:before {
    content: "\e3f7";
}
.nxi.nxi-rmx-editor-bring-forward:before {
    content: "\e3f8";
}
.nxi.nxi-rmx-editor-bring-to-front:before {
    content: "\e3f9";
}
.nxi.nxi-rmx-editor-code-view:before {
    content: "\e3fa";
}
.nxi.nxi-rmx-editor-delete-column:before {
    content: "\e3fb";
}
.nxi.nxi-rmx-editor-delete-row:before {
    content: "\e3fc";
}
.nxi.nxi-rmx-editor-double-quotes-l:before {
    content: "\e3fd";
}
.nxi.nxi-rmx-editor-double-quotes-r:before {
    content: "\e3fe";
}
.nxi.nxi-rmx-editor-draggable:before {
    content: "\e3ff";
}
.nxi.nxi-rmx-editor-emphasis-cn:before {
    content: "\e400";
}
.nxi.nxi-rmx-editor-emphasis:before {
    content: "\e401";
}
.nxi.nxi-rmx-editor-english-input:before {
    content: "\e402";
}
.nxi.nxi-rmx-editor-flow-chart:before {
    content: "\e403";
}
.nxi.nxi-rmx-editor-font-color:before {
    content: "\e404";
}
.nxi.nxi-rmx-editor-font-family:before {
    content: "\e405";
}
.nxi.nxi-rmx-editor-font-mono:before {
    content: "\e406";
}
.nxi.nxi-rmx-editor-font-sans-serif:before {
    content: "\e407";
}
.nxi.nxi-rmx-editor-font-sans:before {
    content: "\e408";
}
.nxi.nxi-rmx-editor-font-size-2:before {
    content: "\e409";
}
.nxi.nxi-rmx-editor-font-size:before {
    content: "\e40a";
}
.nxi.nxi-rmx-editor-format-clear:before {
    content: "\e40b";
}
.nxi.nxi-rmx-editor-functions:before {
    content: "\e40c";
}
.nxi.nxi-rmx-editor-h-1:before {
    content: "\e40d";
}
.nxi.nxi-rmx-editor-h-2:before {
    content: "\e40e";
}
.nxi.nxi-rmx-editor-h-3:before {
    content: "\e40f";
}
.nxi.nxi-rmx-editor-h-4:before {
    content: "\e410";
}
.nxi.nxi-rmx-editor-h-5:before {
    content: "\e411";
}
.nxi.nxi-rmx-editor-h-6:before {
    content: "\e412";
}
.nxi.nxi-rmx-editor-hashtag:before {
    content: "\e413";
}
.nxi.nxi-rmx-editor-heading:before {
    content: "\e414";
}
.nxi.nxi-rmx-editor-indent-decrease:before {
    content: "\e415";
}
.nxi.nxi-rmx-editor-indent-increase:before {
    content: "\e416";
}
.nxi.nxi-rmx-editor-input-cursor-move:before {
    content: "\e417";
}
.nxi.nxi-rmx-editor-insert-column-left:before {
    content: "\e418";
}
.nxi.nxi-rmx-editor-insert-column-right:before {
    content: "\e419";
}
.nxi.nxi-rmx-editor-insert-row-bottom:before {
    content: "\e41a";
}
.nxi.nxi-rmx-editor-insert-row-top:before {
    content: "\e41b";
}
.nxi.nxi-rmx-editor-italic:before {
    content: "\e41c";
}
.nxi.nxi-rmx-editor-line-height:before {
    content: "\e41d";
}
.nxi.nxi-rmx-editor-link-m:before {
    content: "\e41e";
}
.nxi.nxi-rmx-editor-link-unlink-m:before {
    content: "\e41f";
}
.nxi.nxi-rmx-editor-link-unlink:before {
    content: "\e420";
}
.nxi.nxi-rmx-editor-link:before {
    content: "\e421";
}
.nxi.nxi-rmx-editor-list-check-2:before {
    content: "\e422";
}
.nxi.nxi-rmx-editor-list-check-3:before {
    content: "\e423";
}
.nxi.nxi-rmx-editor-list-check:before {
    content: "\e424";
}
.nxi.nxi-rmx-editor-list-indefinite:before {
    content: "\e425";
}
.nxi.nxi-rmx-editor-list-ordered-2:before {
    content: "\e426";
}
.nxi.nxi-rmx-editor-list-ordered:before {
    content: "\e427";
}
.nxi.nxi-rmx-editor-list-radio:before {
    content: "\e428";
}
.nxi.nxi-rmx-editor-list-unordered:before {
    content: "\e429";
}
.nxi.nxi-rmx-editor-merge-cells-horizontal:before {
    content: "\e42a";
}
.nxi.nxi-rmx-editor-merge-cells-vertical:before {
    content: "\e42b";
}
.nxi.nxi-rmx-editor-mind-map:before {
    content: "\e42c";
}
.nxi.nxi-rmx-editor-node-tree:before {
    content: "\e42d";
}
.nxi.nxi-rmx-editor-number-0:before {
    content: "\e42e";
}
.nxi.nxi-rmx-editor-number-1:before {
    content: "\e42f";
}
.nxi.nxi-rmx-editor-number-2:before {
    content: "\e430";
}
.nxi.nxi-rmx-editor-number-3:before {
    content: "\e431";
}
.nxi.nxi-rmx-editor-number-4:before {
    content: "\e432";
}
.nxi.nxi-rmx-editor-number-5:before {
    content: "\e433";
}
.nxi.nxi-rmx-editor-number-6:before {
    content: "\e434";
}
.nxi.nxi-rmx-editor-number-7:before {
    content: "\e435";
}
.nxi.nxi-rmx-editor-number-8:before {
    content: "\e436";
}
.nxi.nxi-rmx-editor-number-9:before {
    content: "\e437";
}
.nxi.nxi-rmx-editor-omega:before {
    content: "\e438";
}
.nxi.nxi-rmx-editor-organization-chart:before {
    content: "\e439";
}
.nxi.nxi-rmx-editor-overline:before {
    content: "\e43a";
}
.nxi.nxi-rmx-editor-page-separator:before {
    content: "\e43b";
}
.nxi.nxi-rmx-editor-paragraph:before {
    content: "\e43c";
}
.nxi.nxi-rmx-editor-pinyin-input:before {
    content: "\e43d";
}
.nxi.nxi-rmx-editor-question-mark:before {
    content: "\e43e";
}
.nxi.nxi-rmx-editor-quote-text:before {
    content: "\e43f";
}
.nxi.nxi-rmx-editor-rounded-corner:before {
    content: "\e440";
}
.nxi.nxi-rmx-editor-send-backward:before {
    content: "\e441";
}
.nxi.nxi-rmx-editor-send-to-back:before {
    content: "\e442";
}
.nxi.nxi-rmx-editor-separator:before {
    content: "\e443";
}
.nxi.nxi-rmx-editor-single-quotes-l:before {
    content: "\e444";
}
.nxi.nxi-rmx-editor-single-quotes-r:before {
    content: "\e445";
}
.nxi.nxi-rmx-editor-sketching:before {
    content: "\e446";
}
.nxi.nxi-rmx-editor-slash-commands-2:before {
    content: "\e447";
}
.nxi.nxi-rmx-editor-slash-commands:before {
    content: "\e448";
}
.nxi.nxi-rmx-editor-sort-asc:before {
    content: "\e449";
}
.nxi.nxi-rmx-editor-sort-desc:before {
    content: "\e44a";
}
.nxi.nxi-rmx-editor-space:before {
    content: "\e44b";
}
.nxi.nxi-rmx-editor-split-cells-horizontal:before {
    content: "\e44c";
}
.nxi.nxi-rmx-editor-split-cells-vertical:before {
    content: "\e44d";
}
.nxi.nxi-rmx-editor-strikethrough-2:before {
    content: "\e44e";
}
.nxi.nxi-rmx-editor-strikethrough:before {
    content: "\e44f";
}
.nxi.nxi-rmx-editor-subscript-2:before {
    content: "\e450";
}
.nxi.nxi-rmx-editor-subscript:before {
    content: "\e451";
}
.nxi.nxi-rmx-editor-superscript-2:before {
    content: "\e452";
}
.nxi.nxi-rmx-editor-superscript:before {
    content: "\e453";
}
.nxi.nxi-rmx-editor-table-2:before {
    content: "\e454";
}
.nxi.nxi-rmx-editor-text-direction-l:before {
    content: "\e455";
}
.nxi.nxi-rmx-editor-text-direction-r:before {
    content: "\e456";
}
.nxi.nxi-rmx-editor-text-spacing:before {
    content: "\e457";
}
.nxi.nxi-rmx-editor-text-wrap:before {
    content: "\e458";
}
.nxi.nxi-rmx-editor-text:before {
    content: "\e459";
}
.nxi.nxi-rmx-editor-translate-2:before {
    content: "\e45a";
}
.nxi.nxi-rmx-editor-translate:before {
    content: "\e45b";
}
.nxi.nxi-rmx-editor-underline:before {
    content: "\e45c";
}
.nxi.nxi-rmx-editor-wubi-input:before {
    content: "\e45d";
}
